.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 18rem;
  height: 8rem;
  min-width: 18rem;
  max-width: 20rem;
  max-height: 12rem;
  min-height: 8rem;
  padding: 1.8rem;
  border-radius: 1rem;
  background-color: #f5f8fa;
  font-weight: 900;
  box-shadow: 3px 3px 10px 1px #1816161a;
  text-align: center;
}

.container p {
  font-size: 1.2rem;
  color: #1d1b1b;
}

.container span {
  font-size: 1rem;
  color: #535353;
  margin-bottom: 1rem;
}
