.container-nav-line {
  display: flex;
  width: 60%;
  padding: 5px 10px;
  position: relative;
  top: -40px;
  left: 19px;
}

.container-nav-line span {
  color: #00000074;
  font-size: 12px;
  margin-bottom: 4px;
}

.container-nav-line button {
  border-radius: 50px;
  border: solid 0.5px #00000074;
  color: #00000074;
  cursor: pointer;
  margin-left: 5px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 7rem);
}

.register-user {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100vw;
  height: 100%;
  padding: 0 30px;
  margin-top: -40px;
}

.register-user > h2 {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem;
  margin: 0 0 1.4rem 0;
}

.forms {
  display: flex;
  justify-self: center;
  align-self: center;
  margin: 0 2rem;
  width: 90%;
  height: 100%;
}

.form-register {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
}

.form-create-user {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.form-create-user-profiles {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 130px;
}

.mdc-evolution-chip-set__chips {
  min-width: 100%;
  flex-wrap: nowrap;
  overflow: auto;
}

.form-create-user > label {
  color: #2a2d2e;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.55rem;
  margin-bottom: 0.2rem;
}

.form-create-user > input {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  border: 1px solid gainsboro;
  border-radius: 0.4rem;
  font-size: 1rem;
  width: 20rem;
  border-radius: 0.25rem;
  background-color: #ffff;
  outline: none;
  transition: 0.3s;
}

.form-create-user > input:hover {
  border: 1px solid #3b82f6;
}

.form-create-user > input:focus {
  box-shadow: 0px 0px 3px 3px #a7c6ed;
}

.button-form-cancel {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.6rem;
  border: 0.25rem solid transparent;
  background-color: transparent;
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.button-form {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.6rem;
  border: 0.25rem solid #090238;
  background-color: #090238;
  color: #d9dee0;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2rem;
  margin-top: 3rem;
  cursor: pointer;
  transition: 0.5s;
  width: 86px;
}

.button-form:hover {
  background-color: #090238;
  border: 0.25rem solid #090238;
  opacity: 0.85;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40%;
  align-self: flex-end;
  align-items: end;
}

.login-spinner {
  transform: translate(-50%, -50%);
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #090238;
  width: 19px;
  height: 19px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
