<div class="container-nav-line">
  <span>Início > Usuários > Editar</span>
  <button (click)="backScreen()">
    <span> x </span>
  </button>
</div>
<div class="conteiner">
  <div class="register-user">
    <h2>Editar Usuário</h2>
    <div class="forms">
      <form
        autocomplete="off"
        class="form-register"
        name="form-create-user"
        #f="ngForm"
        [formGroup]="userEditForm"
      >
        <div class="form-create-user">
          <label for="update_fullusernameer">Nome Completo: </label>
          <input
            autocomplete="off"
            type="text"
            name="update_fullusernameer"
            placeholder="Ex: João da Silva"
            formControlName="fullusername"
          />
        </div>

        <div class="form-create-user">
          <label for="update_username">Nome de usuário: </label>
          <input
            autocomplete="off"
            type="text"
            name="update_username"
            placeholder="Ex: NomeUsuario"
            formControlName="username"
          />
        </div>

        <div class="form-create-user">
          <label for="update_password">Senha: </label>
          <input
            autocomplete="off"
            type="password"
            name="update_password"
            autocomplete="off"
            required
            minlength="6"
            placeholder="******"
            formControlName="password"
          />
        </div>

        <div class="form-create-user">
          <label for="update_occupation">Ocupação: </label>
          <input
            autocomplete="off"
            type="text"
            name="update_occupation"
            required
            minlength="6"
            placeholder="Ex: Analista Jr"
            formControlName="occupation"
          />
        </div>

        <div class="form-create-user">
          <label for="update_email">E-mail: </label>
          <input
            autocomplete="off"
            type="email"
            name="update_email"
            autocomplete="off"
            required
            minlength="6"
            placeholder="Ex: email@email.com"
            formControlName="email"
          />
        </div>

        <div class="form-create-user">
          <label for="access_level">Nível de acesso: </label>
          <p-dropdown
            name="update_access_level"
            placeholder="{{ placeholder }}"
            optionLabel="name"
            [options]="rolesOptions"
            formControlName="access_levels"
          ></p-dropdown>
        </div>

        <mat-form-field class="form-create-user-profiles">
          <mat-label>Adicione perfis</mat-label>
          <mat-chip-grid #chipGrid aria-label="Profile selection">
            @for (profile of profiles; track profile) {
            <mat-chip-row (removed)="removeProfile(profile)">
              {{ profile }}
              <button matChipRemove [attr.aria-label]="'remover ' + profile">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            }
          </mat-chip-grid>
          <input
            placeholder="Novo perfil..."
            #profileInput
            formControlName="access_levels"
            [formControl]="profilesCtrl"
            [matChipInputFor]="chipGrid"
            [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addProfiles($event)"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="selectedProfiles($event)"
          >
            @for (profile of filteredProfiles | async; track profile) {
            <mat-option [value]="profile">{{ profile }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>

    <div class="buttons">
      <button
        pButton
        pRipple
        type="button"
        class="button-form-cancel"
        [routerLink]="['../']"
      >
        Cancelar
      </button>
      <button
        pButton
        pRipple
        type="button"
        class="button-form"
        (click)="onSubmit()"
      >
        <span *ngIf="!isLoginLoading">Atualizar</span>
        <span *ngIf="isLoginLoading"><div class="login-spinner"></div></span>
      </button>
    </div>
    <div class="message">
      <p-toast [life]="2500"></p-toast>
    </div>
  </div>
</div>
