.container-nav-line {
  width: 60%;
  padding: 5px 10px;
  position: relative;
  top: -39px;
  left: 145px;
  align-self: baseline;
  display: flex;
}

.container-nav-line span {
  color: #00000074;
  font-size: 12px;
  margin-bottom: 4px;
}

.container-nav-line button {
  border-radius: 50px;
  border: solid 0.5px #00000074;
  color: #00000074;
  cursor: pointer;
  margin-left: 5px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 7rem);
}

.register-user {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  width: 100vw;
  height: 100%;
  padding: 0 35px;
  margin-top: -23px;
}

.register-user-label {
  font-size: 14px;
  margin: 0 0 1.4rem 0;
}

.forms {
  border-top: 1px solid #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-register {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
  width: 80%;
  margin-top: 25px;
}

.form-create-user {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.form-create-user-profiles {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 130px;
}

.mdc-evolution-chip-set__chips {
  min-width: 100%;
  flex-wrap: nowrap;
  overflow: auto;
}

.form-create-user > label {
  color: #2a2d2e;
  font-size: 12px;
  font-style: normal;
  line-height: 1.55rem;
  margin-bottom: 0.2rem;
}

.form-create-user > input {
  display: flex;
  align-items: center;
  border: 1px solid gainsboro;
  border-radius: 3px;
  font-size: 12px;
  width: 20rem;
  border-radius: 0.25rem;
  outline: none;
  padding: 5px 10px;
}

.button-form-cancel {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.6rem;
  border: 0.25rem solid transparent;
  background-color: transparent;
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.button-form {
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.6rem;
  border: none;
  background-color: #751a7e;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2rem;
  margin-top: 3rem;
  cursor: pointer;
  transition: 0.5s;
  width: 75px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40%;
  align-self: flex-end;
  align-items: end;
  position: fixed;
  bottom: 20px;
}

.login-spinner {
  transform: translate(-50%, -50%);
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #751a7e;
  width: 19px;
  height: 19px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

:host ::ng-deep .p-dropdown {
  font-size: 12px;
  width: 100%;
  height: 33px;
  border-radius: 5px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .p-dropdown .p-dropdown-label.p-placeholder {
  color: #6b7280;
  font-size: 12px;
}

:host ::ng-deep .p-dropdown .p-dropdown-label {
  font-size: 12px;
}

:host ::ng-deep span {
  font-size: 12px;
}

:host
  ::ng-deep
  .p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item.p-highlight.p-focus
  .p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item {
  padding: 10px;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #fff;
  font-size: 12px;
}

:host ::ng-deep .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: #7b5fa5;
}

:host
  ::ng-deep
  .mat-mdc-chip.mdc-evolution-chip--with-trailing-action
  .mat-mdc-chip-action-label {
  color: #fff;
}

:host
  ::ng-deep
  .p-toast
  .p-toast-message
  .p-toast-message-content
  .p-icon:not(.p-toast-icon-close-icon) {
  width: 2rem;
  height: 23px;
  margin: 0 10px 0 0 !important;
}

:host ::ng-deep a {
  font-size: 12px !important;
}

:host ::ng-deep .p-paginator-current,
.p-paginator-rpp-options {
  font-size: 12px;
}

.mat-mdc-chip-remove .mat-icon {
  color: #fff;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
