<div class="container-nav-line">
  <span>Usuários > Editar</span>
  <button (click)="backScreen()">
    <span> x </span>
  </button>
</div>
<div class="conteiner">
  <div class="register-user">
    <span class="register-user-label">Editar Usuário</span>
    <div class="forms">
      <fa-icon
        class="iconUser"
        [icon]="icons.user"
        [size]="'xl'"
        title="Dashboards"
      ></fa-icon>
      <form
        autocomplete="off"
        class="form-register"
        name="form-create-user"
        #f="ngForm"
      >
        <div class="form-create-user">
          <label for="fullnameuser"
            >Nome <span class="mandatory">*</span></label
          >
          <input
            autocomplete="off"
            type="text"
            name="fullusernameer"
            [(ngModel)]="form.fullusername"
            #fullusername="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && fullusername.errors }"
          />
        </div>

        <div class="form-create-user">
          <label for="username">Usuário <span class="mandatory">*</span></label>
          <input
            autocomplete="off"
            type="text"
            name="username"
            [(ngModel)]="form.username"
            #username="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
          />
        </div>

        <div class="form-create-user">
          <label for="password">Senha <span class="mandatory">*</span></label>
          <input
            autocomplete="off"
            type="password"
            name="password"
            [(ngModel)]="form.password"
            autocomplete="off"
            required
            minlength="6"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
            placeholder="*******"
          />
        </div>

        <div class="form-create-user">
          <label for="occupation">Ocupação </label>
          <input
            autocomplete="off"
            type="text"
            name="occupation"
            [(ngModel)]="form.occupation"
            required
            minlength="6"
            #occupation="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && occupation.errors }"
          />
        </div>

        <div class="form-create-user">
          <label for="email">E-mail </label>
          <input
            autocomplete="off"
            type="email"
            name="email"
            autocomplete="off"
            [(ngModel)]="form.email"
            required
            minlength="6"
            #email="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
          />
        </div>

        <div class="form-create-user">
          <label for="access_level"
            >Nível de acesso <span class="mandatory">*</span></label
          >
          <p-dropdown
            name="access_level"
            [options]="rolesOptions"
            [(ngModel)]="form.access_level"
            placeholder="{{ placeholder }}"
            optionLabel="name"
            #access_level="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && access_level.errors }"
          ></p-dropdown>
        </div>
        <div class="profile-container">
          <label for="form-create-user-profiles">Perfis</label>
          <mat-form-field
            class="form-create-user-profiles"
            name="form-create-user-profiles"
          >
            <mat-label>Adicione perfis</mat-label>
            <mat-chip-grid #chipGrid aria-label="Profile selection">
              @for (profile of profiles; track profile) {
              <mat-chip-row (removed)="removeProfile(profile)">
                {{ profile }}
                <button matChipRemove [attr.aria-label]="'remover ' + profile">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
              }
            </mat-chip-grid>
            <input
              placeholder="Novo perfil..."
              #profileInput
              [(ngModel)]="form.profiles"
              [formControl]="profilesCtrl"
              [matChipInputFor]="chipGrid"
              [matAutocomplete]="auto"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="addProfiles($event)"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selectedProfiles($event)"
            >
              @for (profile of filteredProfiles | async; track profile) {
              <mat-option [value]="profile">{{ profile }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </form>
    </div>

    <div class="buttons">
      <button
        pButton
        pRipple
        type="button"
        class="button-form-cancel"
        [routerLink]="['../']"
      >
        Cancelar
      </button>
      <button
        pButton
        pRipple
        type="button"
        class="button-form"
        (click)="onSubmit()"
      >
        <span *ngIf="!isLoginLoading">Atualizar</span>
        <span *ngIf="isLoginLoading"><div class="login-spinner"></div></span>
      </button>
    </div>
    <div class="message">
      <p-toast [life]="3500"></p-toast>
    </div>
  </div>
</div>
