.mat-sidenav-container {
  height: 100vh;
}

.menu-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 0.6rem;
}

.menu-item-content {
  display: flex;
  align-items: center;
}

.mat-sidenav {
  box-shadow: 6px 7px 10px -1px #e1e1e1bf;
  background-color: #220351;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-icon-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-icon-span {
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
}

.container-icon span {
  font-size: 0.6rem;
}

.container-icon span,
.menu-item,
.icon {
  margin: 0 0.5rem;
  color: #a3a7cb;
  font-size: 14px;
}
.container-icon span,
.menu-item:hover,
.icon:hover {
  color: #e8e9f2;
}

.menu-item {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 2rem;
}

.active .icon {
  color: #ece8f2;
}

.button {
  color: #fff;
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logout {
  margin-top: auto;
  cursor: pointer;
}

.mat-drawer-content {
  overflow: hidden !important;
}

.mat-toolbar {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 46px;
  background-color: #ffffff;
  box-shadow: -1px 0px 5px 1px rgba(211, 211, 211, 0.51);
  -webkit-box-shadow: -1px 0px 5px 1px rgba(211, 211, 211, 0.51);
  -moz-box-shadow: -1px 0px 5px 1px rgba(211, 211, 211, 0.51);
}

.content-toolbar {
  display: flex;
}

.dashboard-label {
  font-size: 14px;
  color: #00000095;
  border-right: solid 0.5px #e7e7e7;
  padding-right: 20px;
}

.dashboard-label img {
  width: 100px;
}

.profile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-menu fa-icon {
  color: #090238;
}

.button-profile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #22035145;
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  border-radius: 1rem;
  cursor: pointer;
}

.button-profile-menu:active {
  border: 1px solid #ced4d784;
  background-color: #abbac053;
}

.button-profile-menu:hover {
  border: 1px solid #ced4d784;
  background-color: #abbac053;
}

.initials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #00000095;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.2rem;
  margin: 10px;
}

.container-profile {
  padding: 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  color: #08051c;
}

.mat-menu-item {
  min-height: 2.2rem !important;
  font-size: 0.8rem;
  color: #08051c;
}
