.mat-sidenav-container {
  height: 100vh;
}

.menu-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 0.6rem;
}

.menu-item-content {
  display: flex;
  align-items: center;
}

.mat-sidenav {
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  box-shadow: 6px 7px 10px -1px #e1e1e1bf;
  background-color: #220351;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-icon-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-icon-span {
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
}

.container-icon span {
  font-size: 0.6rem;
}

.container-icon span,
.menu-item,
.icon {
  margin: 0 0.5rem;
  color: #a3a7cb;
}
.container-icon span,
.menu-item:hover,
.icon:hover {
  color: #e8e9f2;
}

.menu-item {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 2rem;
}

.active .icon {
  color: #ece8f2;
}

.button {
  margin: 0 0.6rem;
  color: #fff;
  transition: 300ms ease-in-out;
  transform: rotate(0deg);

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logout {
  margin-top: auto;
  cursor: pointer;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 4rem;
}

.profile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-menu fa-icon {
  color: #090238;
}

.button-profile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ced4d7;
  background-color: #abbac015;
  width: 9rem;
  height: 2rem;
  border-radius: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  padding: 1rem;
}

.button-profile-menu:active {
  border: 1px solid #ced4d784;
  background-color: #abbac053;
}

.button-profile-menu:hover {
  border: 1px solid #ced4d784;
  background-color: #abbac053;
}

.initials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #08051c;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.2rem;
  margin: 10px;
}

.container-profile {
  padding: 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  color: #08051c;
}

.mat-menu-item {
  min-height: 2.2rem !important;
  font-size: 0.8rem;
  color: #08051c;
}
