.container-nav-line {
  width: 60%;
  padding: 5px 10px;
  position: relative;
  top: -39px;
  left: 145px;
  align-self: baseline;
  display: flex;
}

.container-nav-line span {
  color: #00000074;
  font-size: 12px;
  margin-bottom: 4px;
}

.container {
  width: 100%;
  z-index: 1;
  margin-top: -5px;
  padding: 0 38px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: -10px;
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 21px;
}

header h2 {
  font-size: 14px;
  font-weight: 400;
}

.container-content-header-button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-button {
  color: #4f80e1;
  padding: 0 10px;
  cursor: pointer;
}

.add {
  align-items: center;
  background-color: #5f65a5;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  height: 2rem;
  justify-content: center;
  line-height: 1;
  padding: 0 0.5rem;
  font-size: 12px;
}

.connection-container {
  display: flex;
  width: 100%;
  height: 82vh;
  justify-content: space-between;
}

.atual-connection-disconected {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-connect-loading {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.atual-connection-disconected span {
  font-size: 13px;
  font-weight: 400;
  color: #00000074;
}

.atual-connection {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.atual-connection span {
  font-size: 12px;
}

.atual-connection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 120px;
}

.atual-connection-origin {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  width: 16em;
  cursor: default;
}

.atual-connection-origin .iconDB {
  font-size: 15px;
  color: #57cc99;
}

.atual-connection-origin span {
  color: #4b5563;
}

.atual-connection-group {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.atual-connection label {
  margin-bottom: 0.2rem;
  font-size: 12px;
}

.atual-connection input {
  max-width: 30rem;
  width: 30rem;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  align-items: center;
  border: 1px solid gainsboro;
  outline: none;
}

.connection-status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

.connection-status .iconServer {
  color: #57cc99;
  font-size: 14px;
}

.connection-status div,
.connection-status div span {
  margin-left: 8px;
}

.form {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.idField {
  width: 80px !important;
  background-color: #fafafa !important;
}

.mandatory {
  color: red;
}

.form label {
  margin-bottom: 0.2rem;
  font-size: 12px;
}

.form input {
  max-width: 30rem;
  width: 30rem;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  align-items: center;
  border: 1px solid gainsboro;
  outline: none;
}

.form-origin {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  width: 16em;
  height: 30px;
  cursor: default;
  background-color: #d7d7d7;
}

.icon {
  font-size: 10px;
}

.form-origin button {
  cursor: default;
}

.form-origin input {
  border: solid 1px #b4b4b4;
  background-color: transparent;
  height: 23px;
  margin-left: 10px;
  cursor: not-allowed;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.connect-button {
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.3rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.iconConnect {
  color: #57cc99;
  font-size: 9px;
  transition: 0.5s;
}

.iconEdit {
  color: #765b9f;
  font-size: 9px;
}

.iconDelete {
  color: #ff5757;
  font-size: 9px;
  transition: 0.5s;
}

.login-spinner {
  transform: translate(-50%, -50%);
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #57cc99;
  width: 11px;
  height: 11px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.container-add-footer {
  width: 88%;
  display: flex;
  align-self: flex-end;
  align-items: end;
  position: fixed;
  bottom: 20px;
  justify-content: end;
}

.container-add-footer button:nth-child(1) {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.6rem;
  border: 0.25rem solid transparent;
  background-color: transparent;
  color: #000000;
  font-size: 12px;
  font-style: normal;
  margin-right: 1rem;
  cursor: pointer;
  height: 34px;
}

.container-add-footer button:nth-child(2) {
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.6rem;
  border: none;
  background-color: #751a7e;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2rem;
  margin-top: 3rem;
  cursor: pointer;
  transition: 0.5s;
  width: 75px;
}

.card-list {
  width: 50%;
  padding-left: 15px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}

.card-list span {
  font-size: 12px;
}

.card-list-item {
  display: flex;
}

.card-list-item div {
  width: 100%;
}

.list {
  margin-top: 8px;
}

strong {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}

.button-actions {
  width: 110px;
  display: flex;
  justify-content: space-between;
}

.button-actions button {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 480px;
  height: fit-content;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 10px 1px rgba(66, 68, 90, 0.13);
  -moz-box-shadow: 0px 1px 10px 1px rgba(66, 68, 90, 0.13);
  box-shadow: 0px 1px 10px 1px rgba(66, 68, 90, 0.13);
}

.modal-content h2 {
  font-size: 15px;
  font-weight: 500;
}

.modal-content p {
  font-size: 13px;
}

.modal-buttons {
  margin-top: 35px;
  display: flex;
  justify-content: flex-end;
}

.cancel,
.exclude {
  border: none;
  padding: 8px 20px;
  background-color: rgb(255, 70, 70);
  margin: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel {
  background-color: #ffffff;
  color: #4f4f4f;
}

.exclude {
  color: #ffffff;
  width: 79px;
  height: 36px;
  display: flex;
  justify-content: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: -23px;
  left: 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

:host ::ng-deep .p-toast .p-toast-message .p-toast-message-content {
  padding: 1rem;
  border-width: 0 0 0 6px;
  font-size: 15px;
  border-radius: 2px;
}

:host ::ng-deep .p-toast .p-toast-message .p-toast-icon-close {
  border-radius: 50%;
  background: transparent;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  width: 13px;
  height: 13px;
  color: #444444;
}

:host
  ::ng-deep
  .p-toast
  .p-toast-message
  .p-toast-message-content
  .p-icon:not(.p-toast-icon-close-icon) {
  width: 2rem;
  height: 23px;
  margin: 0 10px 0 0 !important;
}

:host ::ng-deep a {
  font-size: 12px !important;
}

:host ::ng-deep .p-paginator-current,
.p-paginator-rpp-options {
  font-size: 12px;
}

:host ::ng-deep .p-datatable .p-datatable-header {
  border-left: none;
  border-right: none;
}

:host ::ng-deep .p-datatable .p-paginator-bottom {
  padding: 2px;
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
  font-size: 12px;
}

:host ::ng-deep .p-orderlist-controls {
  display: none;
}

:host ::ng-deep .p-orderlist .p-orderlist-list-container,
:host ::ng-deep .p-orderlist .p-orderlist-filter-container {
  background: transparent !important;
  border: none;
}

:host ::ng-deep .p-orderlist .p-orderlist-filter-container {
  display: flex;
  align-items: baseline;
  padding: 15px 5px;
}

:host
  ::ng-deep.p-orderlist
  .p-orderlist-filter-container
  .p-orderlist-filter-input {
  padding-right: 2rem;
  width: 300px;
  height: 36px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 12px;
}

:host ::ng-deep .p-orderlist-filter-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px transparent;
}

:host ::ng-deep .p-orderlist-filter-icon {
  top: 26%;
}

:host ::ng-deep .p-orderlist .p-orderlist-list .p-orderlist-item {
  padding: 0.5rem 1.25rem;
  margin: 0;
  border: 0 none;
  color: #4b5563;
  background: #fff;
  transition: box-shadow 0.2s;
  border-bottom: solid 1px gainsboro;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host ::ng-deep .p-skeleton {
  margin: 7.3px 0;
}

::ng-deep .p-progress-spinner {
  width: 80px !important;
  height: 40px !important;
  margin-right: 3px !important;
  position: relative;
  top: 2px;
}

::ng-deep .w-1rem.h-1rem .p-progress-spinner-circle {
  stroke: #7b5fa5 !important;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
