.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90svh;
}

.chart-tree,
.chart-config,
.chart-viwe {
  height: 100%;
}

.chart-config {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  border: 2px solid ghostwhite;
}

.mat-accordion {
  height: 100%;
  width: 100%;
}

.chart-viwe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  border: 2px solid ghostwhite;
}

.mat-sidenav-container {
  height: 100%;
  z-index: 9;
}

.section-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

mat-form-field mat-label {
  font-size: 0.8rem;
}

.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25em;
}
