.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  margin: 0 1rem;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}

.left-top {
  display: flex;
  justify-content: space-between;
}

.left-bottom {
  display: flex;
  justify-content: space-around;
}

.rigth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 95%;
}

highcharts-chart {
  border-radius: 0.5rem;
  box-shadow: 8px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
