<div class="container">
  <mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Crie um grupo</ng-template>
        <mat-form-field>
          <mat-label>Nome do grupo</mat-label>
          <input
            matInput
            placeholder="Ex: Atendimento"
            formControlName="nameGroup"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Nome da tabela</mat-label>
          <input
            matInput
            placeholder="Ex: Atendimento"
            formControlName="nameTable"
            required
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Pasta</mat-label>
          <mat-select formControlName="folderChart">
            <mat-option *ngFor="let folder of folderControl" [value]="folder">
              {{ folder.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <button
            mat-button
            matStepperNext
            [disabled]="!firstFormGroup.valid"
            (click)="getItemFolder()"
          >
            Próximo
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Adicione um SQL</ng-template>
        <div class="modal-sql-runner">
          <div class="text-btn">
            <div class="buttons-sql">
              <button class="btn" (click)="runnerSQL()">Executar</button>
              <button class="btn" (click)="codeSQL = ''">Limpar</button>
              <button pRipple mat-menu-item matStepperNext class="btn">
                Próximo
              </button>
            </div>
            <textarea
              class="textarea"
              cols="150"
              rows="10"
              formControlName="SQL"
            ></textarea>
          </div>
          <div class="sql-result" *ngIf="showTable">
            <p-table
              #tableReference
              dataKey="id"
              selectionMode="single"
              scrollHeight="38vh"
              [value]="tableData"
              [rows]="10"
              [showCurrentPageReport]="true"
              [paginator]="false"
              [scrollable]="true"
              [tableStyle]="{ 'min-width': '50rem', 'margin-top': '2rem' }"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let key of getObjectKeys(tableData[0])">
                    <div class="flex align-items-center">{{ key }}</div>
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-row>
                <tr *ngFor="let row of tableData">
                  <td *ngFor="let key of getObjectKeys(row)">
                    {{ row[key] }}
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="7">Sem registros encontrados</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Crie um gráfico</ng-template>
        <mat-form-field>
          <mat-label>Nome do gráfico</mat-label>
          <input
            matInput
            placeholder="Ex: Atendimento"
            formControlName="nameChart"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>SQL do gráfico</mat-label>
          <input
            matInput
            placeholder="Ex: Atendimento"
            formControlName="SQL_Chart"
            required
          />
        </mat-form-field>

        <button class="btn" type="button" (click)="createChart()">
          Salvar
        </button>
      </form>
    </mat-step>
  </mat-stepper>
</div>
<div class="message">
  <p-toast [life]="1500"></p-toast>
</div>
