.container-nav-line {
  width: 60%;
  padding: 5px 10px;
  position: relative;
  top: -39px;
  left: 145px;
  align-self: baseline;
  display: flex;
}

.container-nav-line span {
  color: #00000074;
  font-size: 12px;
  margin-bottom: 4px;
}

.container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  overflow-y: auto;
  padding: 10px;
}

.greetings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

.greetings > span {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.greetings > h1 {
  font-size: 3rem;
  font-weight: 500;
  background: linear-gradient(82deg, #40509f 0%, #b05cda 60%, #d96570 94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.greetings > h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  color: #484848;
}

.greetings > p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  color: gray;
  margin-bottom: 2rem;
}

.suggestion {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  margin-top: 1rem;
  padding: 2rem 0;
}

.suggestion button {
  border: solid 0.5px #b4a3cb;
  width: 300px;
  height: 55px;
  background-color: #fff;
  background-color: transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  cursor: pointer;
}

.card-seggestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1.7rem;
  padding: 2rem;
  width: 22rem;
  min-width: 22rem;
  max-width: 24rem;
  background: #fcf9f940;
  backdrop-filter: blur(2px);
  border: 1px solid #ffffff2e;
  background-color: #fff;
}

.card-seggestion p {
  font-size: 1.2rem;
  font-weight: 500;
  background: linear-gradient(90deg, #40509f 0%, #b05cda 20%, #bd1d28 60%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-suggestion {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: gray;
  height: 4rem;
  text-align: left;
}

.text-suggestion span {
  font-size: 0.85rem;
  font-weight: 500;
}

.messageFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: absolute;
  column-gap: 1rem;
  bottom: 2.5rem;
  border: solid 0.5px #f2f0f6;
  background-color: #fff;
  border-radius: 80px;
}

.questions {
  width: 40rem;
  min-width: 40rem;
  max-width: 45rem;
  padding: 0.5rem 1rem;
  font-size: 14px;
  color: grey;
  border-radius: 80px;
  border: none;
  border-bottom: 1px solid transparent;
}

.questions:focus {
  outline: none;
}

.buttonSend {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fff;
  border-radius: 80px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.7rem 1rem;
  color: #3725bb;
  overflow: hidden;
  transition: all 0.2s;
}

.buttonSend span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.buttonSend svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.buttonSend:hover .svg-wrapper {
  animation: fly 0.6s ease-in-out infinite alternate;
}

.buttonSend:hover svg {
  transform: rotate(45deg) scale(1.1);
}

.buttonSend:active {
  transform: scale(0.95);
}

.info-koios {
  position: absolute;
  bottom: 0.7rem;
  font-size: 0.8rem;
  color: grey;
}

/* CHAT */

.chat-history {
  display: flex;
  flex-direction: column;
  width: 55vw;
  overflow-y: auto;
  height: 75vh;
  border-radius: 5px;
  padding: 10px;
}

.chat-history::-webkit-scrollbar {
  width: 5px;
}

.chat-history::-webkit-scrollbar-thumb {
  background-color: #cecece;
  border-radius: 5px;
}

.chat-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mat-divider {
  margin: 0.5rem auto;
}

.chat-header > p {
  font-size: 14px;
  font-weight: 500;
}

.chat-header > span {
  color: #484848;
  font-size: 0.8rem;
  padding-right: 0.5rem;
}

.chat-body > p {
  font-size: 14px;
}

.container-dot {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 0.25rem;
  background: transparent;
  border-radius: 9999px;
  padding: 1rem;
  padding-left: 1px;
}

.dot {
  border-radius: 9999px;
  height: 6px;
  width: 6px;

  background: rgba(148 163 184 / 1);
  animation: wave 1s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0.3333s;
}
.dot:nth-child(2) {
  animation-delay: 0.6666s;
}
.dot:nth-child(3) {
  animation-delay: 0.9999s;
}

.button-profile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #751a7e;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin-right: 0.5rem;
  cursor: pointer;
  padding: 0px;
}

.initials {
  color: #fff;
  width: 100%;
  height: 22px;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.2rem;
  margin: 10px;
}

.container-message {
  display: flex;
  align-items: end;
}

.message {
  margin-bottom: 1.625rem;
  padding: 10px;
  border-radius: 0.6rem;
  width: 35rem;
  max-width: 35rem;
  min-width: 20rem;
}

.user-message-align {
  align-self: flex-end;
  width: fit-content;
  max-width: 66%;
  border-bottom-right-radius: 3px;
}

.bot-message-align {
  width: 80%;
  border-bottom-left-radius: 3px;
}

.user-message {
  background-color: #b5b9e2;
  color: #1f1d1d;
  width: fit-content;
  border-bottom-right-radius: 3px;
}

.bot-message {
  background-color: #f2f0f6;
  color: #2d2d2d;
  border-bottom-left-radius: 3px;
}

.chat-bar {
  border: none !important;
  height: 1px;
  margin: auto;
  background-color: #484848;
  opacity: 0.5;
}

.chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.chat-input button {
  padding: 8px 15px;
  padding-left: 1px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.watermark img {
  position: fixed;
  width: 20%;
  z-index: -999;
  bottom: 0;
  right: 0;
  transform: translate(45%, 45%) rotate(-45deg);
  filter: opacity(0.1);
}

@keyframes fly {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

@keyframes wave {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0px);
  }
}
