::ng-deep {
  .ngx-slider * {
    font-size: 12px;
  }

  .ngx-slider.animate .ngx-slider-bubble {
    font-size: 12.5px;
  }

  .ngx-slider .ngx-slider-bubble {
    font-size: 12.5px !important;
  }

  .custom-slider .ngx-slider .ngx-slider-bar {
    background: #b4a3cb;
    height: 2px;
  }
  .custom-slider .ngx-slider .ngx-slider-selection {
    background: #751a7e;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto;
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble.ngx-slider-limit {
    font-weight: bold;
    color: #751a7e;
    font-size: 12.5px;
  }

  .custom-slider .ngx-slider .ngx-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #b4a3cb;
    top: -1px;
  }

  .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    background: #751a7e;
  }
}

:host {
  display: block;
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;

  .grids-container {
    display: flex;
    align-items: center;
    height: 600px;

    & > * {
      flex: 1;
      height: 100%;

      display: flex;
      flex-direction: column;
    }
  }

  .grid-container {
    padding: 4px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid var(--ktd-border-color);
    background-color: var(--ktd-background-color);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .grid-container {
    overflow-x: auto; // let available scroll horizontal with overflowing x
    max-height: 82vh;
    height: 82vh;
    ktd-grid {
      width: 100%;
      max-width: 500%;
    }
  }

  ktd-grid {
    transition: height 500ms ease;
  }

  ktd-grid-item {
    color: #121212;
  }

  .grid-item-content {
    box-sizing: border-box;
    background: #ccc;
    border: 1px solid black;
    color: black;
    width: 100%;
    height: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
