.groupname {
  padding: 5px 8px;
}

.container-save-disposition {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 3px;
  top: 46px;
}

.container-save-disposition span {
  padding: 3px 0;
  color: #919191;
  font-size: 10px;
}

.container-save-disposition div {
  display: flex;
}

.container-save-disposition button:nth-child(1) {
  width: 90px;
}

.container-save-disposition button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  border: solid 1px #ffffff;
  background-color: #ffffff;
  padding: 4px 9px;
  margin: 3px;
  font-size: 10px;
  color: #0000007c;
  transition: 0.5s;
  width: 75px;
  border-radius: 3px;
}

.container-save-disposition button:hover {
  border: solid 1px #e6e6e6;
}

.iconview {
  color: #4570c6;
  margin-right: 5px;
  font-size: 12px;
}

.filter {
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 2.2rem;
  width: 100%;
  background-color: #fff;
  padding: 5px;
  border-bottom: solid 1px #e6e6e6;
}

.filter-button button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 2rem;
  width: 3rem;
  background-color: #fff;
  border-radius: 3px;
  border: none;
  font-size: 12px;
}

.filter-icon {
  color: #22035185;
  font-size: 1rem;
}

.filter-container {
  display: flex;
  margin-left: 0.8rem;
  max-width: 95%;
}

.filter-filters {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin-left: 0.3rem;
  height: 1.9rem;
  border-right: solid 0.5px #0000001a;
}

.filter-filters-data {
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: fit-content;
  min-width: fit-content;
  padding: 0.5rem;
}

.filter-filters-data h3 {
  font-size: 10px;
  margin-right: 0.5rem;
  font-weight: normal;
  text-transform: capitalize;
}

.filter-filters-data span {
  font-size: 10px;
  font-weight: 350;
  width: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container-view {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: calc(95vh - 5px);
  overflow: hidden;
}

.main-content {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
}

.chart-container {
  display: flex;
  margin: 5px;
  height: 100%;
  border-radius: 5px;
}

.card {
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
  min-height: 89px;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
}

.card-header {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.card-body {
  font-size: 14px;
  color: #00000099;
}

.mat-elevation-z8 {
  box-shadow: none;
  outline: none;
}

.table-container {
  height: 100%;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 4px 5px;
}

.table-container h2 {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  background-color: #f6f6f6;
  padding: 5px;
}

.table-container-overflow {
  max-height: 93%;
  max-width: 99%;
  overflow: auto;
}

th {
  font-size: 12px;
  font-weight: 450;
  padding: 5px 7px;
}

td {
  text-align: left;
  border: 1px solid #e5e7eb;
  border-width: 0 0 1px 0;
  padding: 0.5rem 0.5rem;
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-top: 1px solid transparent;
  cursor: pointer;
  height: 5px !important;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #f7f7f7;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 95px;
  height: calc(87vh - 5px);
  max-width: 80%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  margin-right: initial;
  width: 270px;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px #cfcfcf;
}

.modal-content h2 {
  font-size: 18px;
}

.modal-content p {
  font-size: 13px;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20px;
}

.cancel,
.exclude {
  border: none;
  padding: 8px 20px;
  background-color: #751a7e;
  margin: 7px;
  border-radius: 5px;
  width: 69px;
  height: 35px;
  cursor: pointer;
}

.exclude {
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-right: inherit;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-icon {
  font-size: 20px;
  color: #00000059;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  height: 85%;
  max-height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-fields {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px 0;
}

.modal-fields label {
  font-size: 13px;
  color: #000000ab;
}

.modal-fields input {
  border: solid 1px #93939388;
  border-radius: 3px;
  outline: none;
  width: 100%;
  padding: 5px;
}

.modal-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.modal-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-fields select {
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropbtn {
  color: black;
  padding: 5px 10px;
  font-size: 13px;
  border: solid 1px #bdbdbd;
  cursor: pointer;
  width: 100%;
  display: flex;
  background-color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(150, 150, 150, 1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(150, 150, 150, 1);
  box-shadow: 0px 3px 5px 0px rgba(150, 150, 150, 1);
  width: 100%;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(150, 150, 150, 1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(150, 150, 150, 1);
  box-shadow: 0px 3px 5px 0px rgba(150, 150, 150, 1);
}

.dropdown-cl {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 100%;
  border-bottom: solid 1px #0000000c;
}

.dropdown-cl div {
  width: 50%;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}

.dropdown-content input[type="checkbox"] {
  margin-right: 5px;
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 20;
}

:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

:host .playground-container {
  width: 100%;
}

:host .controls-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

:host .controls-container > * {
  margin: 8px 24px 8px 0;
}

:host .grid-container {
  padding: 4px;
  box-sizing: border-box;
  opacity: 0.8;
  background-size: 20px 20px;
  border-radius: 2px;
}

:host ktd-grid-item {
  color: #121212;
}

:host ktd-grid {
  display: block;
  position: relative;
  width: 100%;
  transition: height 500ms ease;
  background-color: transparent;
  max-height: 83vh;
}

:host ktd-grid-item {
  cursor: grab;
}

:host ktd-grid-item.ktd-grid-item-dragging {
  cursor: grabbing;
}

:host ktd-grid-item.ng-star-inserted {
  background-color: transparent;
}

:host mat-chip-list,
:host mat-chip {
  pointer-events: none;
  user-select: none;
}
