<div class="container-save-disposition">
  <span> Ações </span>
  <div>
    <button (click)="updateCombinedLayout()">
      <fa-icon class="iconview" [icon]="icons.back" [size]="'xl'"></fa-icon
      >Reordenar
    </button>
    <button (click)="saveLayoutUpdated()">
      <fa-icon class="iconview" [icon]="icons.save" [size]="'xl'"></fa-icon
      >Salvar
    </button>
  </div>
</div>
<div class="container-data">
  <span> Dados </span>
  <div>
    <button (click)="openModal()">
      <fa-icon class="iconview" [icon]="icons.filter" [size]="'xl'"></fa-icon
      >Filtros
    </button>
  </div>
</div>
<div class="filter">
  <div class="filter-button">
    <button (click)="openModal()">
      <p>Filtro</p>
      <span class="material-symbols-outlined filter-icon"> filter_alt </span>
    </button>
  </div>
  <div class="filter-container">
    <div class="filter-filters" *ngFor="let filter of filters">
      <div class="filter-filters-data">
        <h3>{{ filter.identifiers }}</h3>
        <span [title]="filter.values">{{ filter.values }}</span>
      </div>
    </div>
  </div>
</div>
<div class="main-container" (click)="saveFilterLabel()">
  <div class="playground-container">
    <div class="grid-container" #gridContainer>
      <ktd-grid
        [cols]="cols"
        [rowHeight]="rowHeight"
        [layout]="layout"
        [gap]="6"
        [compactType]="compactType"
        [preventCollision]="preventCollision"
        [scrollableParent]="gridContainer"
        scrollSpeed="2"
        (dragStarted)="onDragStarted($event)"
        (resizeStarted)="onResizeStarted($event)"
        (dragEnded)="onDragEnded($event)"
        (resizeEnded)="onResizeEnded($event)"
        (layoutUpdated)="onLayoutUpdated($event)"
      >
        <ktd-grid-item
          *ngFor="let item of layout; trackBy: trackById"
          [id]="item.id"
          [transition]="currentTransition"
          [dragStartThreshold]="dragStartThreshold"
          [draggable]="!disableDrag"
          [resizable]="!disableResize"
        >
          <section
            *ngIf="item.type == 'card'"
            style="width: 100%; height: 100%"
            class="menu-container"
          >
            <button [cdkMenuTriggerFor]="menuedit" class="buttonMenu">
              <fa-icon
                class="iconmenu"
                [icon]="icons.menu"
                [size]="'xl'"
              ></fa-icon>
            </button>
            <div class="card">
              <div class="card-header">
                {{ item.title }}
              </div>
              <div class="card-body">
                <p>{{ item.content }}</p>
              </div>
            </div>
          </section>
          <section
            *ngIf="item.type == 'table'"
            class="table-container mat-elevation-z8 menu-container"
            tabindex="0"
          >
            <button [cdkMenuTriggerFor]="menuedit" class="buttonMenu">
              <fa-icon
                class="iconmenu"
                [icon]="icons.menu"
                [size]="'xl'"
              ></fa-icon>
            </button>
            <h2>{{ item.title }}</h2>
            <div style="overflow: auto">
              <p-table
                matSort
                class="mat-elevation-z8 demo-table"
                selectionMode="single"
                [value]="item.showTableData"
                (matSortChange)="announceSortChange($event)"
                [resizableColumns]="true"
                [scrollable]="true"
                scrollHeight="100%"
                [tableStyle]="{ 'min-width': '20rem' }"
                scrollHeight="300px"
                styleClass="p-datatable-gridlines"
                [globalFilterFields]="item.showTableColumns"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th
                      *ngFor="let column of item.showTableColumns"
                      pResizableColumn
                      [pSortableColumn]="column.name"
                      style="min-width: 12rem"
                    >
                      <div class="flex align-items-center">
                        {{ column.name }}
                      </div>
                    </th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData>
                  <tr
                    #tr
                    pSelectableRow="rowData"
                    pContextMenuRow="rowData"
                    [pSelectableRow]="rowData"
                  >
                    <td *ngFor="let column of item.showTableColumns">
                      {{ rowData[column.name] }}
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="7">Sem registros encontrados</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </section>
          <div
            *ngIf="item.type == 'chart'"
            class="chart-container menu-container"
          >
            <button [cdkMenuTriggerFor]="menuedit" class="buttonMenu">
              <fa-icon
                class="iconmenu"
                [icon]="icons.menu"
                [size]="'xl'"
              ></fa-icon>
            </button>
            <highcharts-chart
              style="width: 100%; height: 100%"
              [Highcharts]="Highcharts"
              [options]="item.data"
            ></highcharts-chart>
          </div>

          <ng-template #menuedit>
            <div class="edit-menu" cdkMenu>
              <button
                class="edit-button"
                (click)="openModalEdit(item.id, item.itemId, item.type)"
              >
                <fa-icon
                  class="iconmenu"
                  [icon]="icons.edit"
                  [size]="'xl'"
                ></fa-icon>
                <span>Editar</span>
              </button>
              <mat-divider></mat-divider>
              <button
                class="edit-button"
                (click)="openModalExclude(item.id, item.itemId, item.type)"
              >
                <fa-icon
                  class="icontrash"
                  [icon]="icons.delete"
                  [size]="'xl'"
                ></fa-icon>
                <span>Excluir</span>
              </button>
            </div>
          </ng-template>
        </ktd-grid-item>
      </ktd-grid>
    </div>
  </div>
  <div class="modal" id="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Filtros</h2>
        <span class="close" (click)="showFilters()"
          ><span class="material-symbols-outlined close-icon">
            close
          </span></span
        >
      </div>
      <div class="modal-body">
        <div class="modal-fields" *ngFor="let filter of filters; let i = index">
          <div>
            <label
              class="filter-label"
              *ngIf="isEditingIndex !== i"
              (click)="updateFilterLabel(i); $event.stopPropagation()"
              [attr.for]="filter.identifiers"
              >{{ filter.identifiers[0] || "editar" }}</label
            >

            <input
              *ngIf="isEditingIndex === i"
              [(ngModel)]="filter.identifiers[0]"
              (click)="$event.stopPropagation()"
              (blur)="saveFilterLabel()"
            />
          </div>

          <div class="dropdown">
            <ng-container *ngIf="filter.type == 'numeric'">
              <div class="custom-slider">
                <ngx-slider
                  [(value)]="filter.values[0]"
                  [(highValue)]="filter.values[1]"
                  [options]="options"
                ></ngx-slider>
              </div>
            </ng-container>

            <ng-container *ngIf="filter.type == 'timestamp'">
              <div class="dropdown-date">
                <mat-date-range-input [rangePicker]="picker">
                  <input
                    matStartDate
                    [placeholder]="filter.values[0]"
                    [(ngModel)]="filter.values[0]"
                    (dateChange)="updateDate('startDate', filter, $event.value)"
                  />
                  <input
                    matEndDate
                    [placeholder]="filter.values[1]"
                    [(ngModel)]="filter.values[1]"
                    (dateChange)="updateDate('endDate', filter, $event.value)"
                  />
                </mat-date-range-input>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </div>
            </ng-container>

            <ng-container
              *ngIf="filter.type != 'timestamp' && filter.type != 'numeric'"
            >
              <button class="dropbtn" (click)="showContentFilter(i)">
                {{
                  selectedFilters[filter.column] ||
                    alfilters(filter.values, filter.allfilters)
                }}
              </button>
            </ng-container>
            <div class="dropdown-content" *ngIf="showContentFilterSwitch[i]">
              <div class="dropdown-cl" *ngFor="let value of filter.allfilters">
                <div>
                  <input
                    class="checkbox"
                    type="checkbox"
                    [checked]="isChecked(filter.column, value)"
                    (change)="onCheckboxChange(filter.column, value)"
                  />
                </div>
                <div>
                  <label>{{ value }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="modal-buttons">
          <button class="exclude" (click)="executeFilter()">
            <span *ngIf="!isLoginLoading">Filtrar</span>
            <span *ngIf="isLoginLoading"
              ><div class="login-spinner"></div
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="message">
    <p-toast [life]="3500"></p-toast>
  </div>
</div>

<div
  class="modal-exclude"
  *ngIf="showModal"
  id="modalExclude"
  [style.display]="showModal ? 'flex' : 'none'"
>
  <div class="modal-exclude-content">
    <span class="modal-exclude-close" (click)="closeModalExclude()"
      >&times;</span
    >
    <div>
      <h2>Tem certeza que deseja excluir este item?</h2>
      <p>Esta ação não poderá ser desfeita</p>
      <div class="modal-exclude-buttons">
        <button class="modal-exclude-cancel" (click)="closeModalExclude()">
          Cancelar
        </button>
        <button class="modal-exclude-exclude" (click)="excludeItem()">
          <span>Excluir</span>
        </button>
      </div>
    </div>
  </div>
</div>
