<div class="container-save-disposition">
  <button (click)="updateCombinedLayout()">
    <fa-icon class="iconview" [icon]="icons.back" [size]="'xl'"></fa-icon
    >Reorndenar
  </button>
  <button (click)="saveLayoutUpdated()">
    <fa-icon class="iconview" [icon]="icons.save" [size]="'xl'"></fa-icon>Salvar
  </button>
</div>
<div class="filter">
  <div class="filter-button">
    <button (click)="openModal()">
      <p>Filtro</p>
      <span class="material-symbols-outlined filter-icon"> filter_alt </span>
    </button>
  </div>
  <div class="filter-container">
    <div class="filter-filters" *ngFor="let filter of filters">
      <div class="filter-filters-data">
        <h3>{{ filter.identifiers }}</h3>
        <span [title]="filter.values">{{ filter.values }}</span>
      </div>
    </div>
  </div>
</div>
<div class="main-content">
  <div class="bound-box" #myBounds>
    <div class="container-charts">
      <div class="left" style="display: none">
        <div
          *ngFor="let chartConfig of chartGroupsData"
          class="chart-container"
          ngResizable
          ngDraggable
          rzHandles="all"
          [rzMinWidth]="350"
          [rzMinHeight]="250"
          (mouseup)="newPosition($event); resizeChart()"
        >
          <highcharts-chart
            style="width: 100%; height: 100%"
            [Highcharts]="Highcharts"
            [options]="chartConfig"
          ></highcharts-chart>
        </div>

        <section
          *ngFor="let tableGroup of tableGroupsData"
          class="table-container mat-elevation-z8"
          tabindex="0"
          ngResizable
          ngDraggable
          rzHandles="all"
          [rzMinWidth]="350"
          [rzMinHeight]="250"
          (mouseup)="newPosition($event); resizeChart()"
        >
          <h2>{{ tableGroup.title }}</h2>
          <div style="max-height: 90%; overflow: auto; margin-top: 8px">
            <p-table
              matSort
              class="mat-elevation-z8 demo-table"
              selectionMode="single"
              [value]="tableGroup.showTableData"
              (matSortChange)="announceSortChange($event)"
              [resizableColumns]="true"
              [scrollable]="true"
              scrollHeight="230px"
              styleClass="p-datatable-gridlines"
              [globalFilterFields]="tableGroup.showTableColumns"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th
                    *ngFor="let column of tableGroup.showTableColumns"
                    pResizableColumn
                    [pSortableColumn]="column.name"
                    style="min-width: 12rem"
                  >
                    <div class="flex align-items-center">{{ column.name }}</div>
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowData>
                <tr
                  #tr
                  pSelectableRow="rowData"
                  pContextMenuRow="rowData"
                  [pSelectableRow]="rowData"
                >
                  <td *ngFor="let column of tableGroup.showTableColumns">
                    {{ rowData[column.name] }}
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="7">Sem registros encontrados</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div
  class="modal"
  *ngIf="showModal"
  id="modal"
  [style.display]="showModal ? 'flex' : 'none'"
  ngDraggable
  rzHandles="all"
>
  <div class="modal-content">
    <div class="modal-header">
      <h2>Filtros</h2>
      <span class="close" (click)="closeModal()"
        ><span class="material-symbols-outlined close-icon"> close </span></span
      >
    </div>
    <div class="modal-body">
      <div class="modal-fields" *ngFor="let filter of filters">
        <label for="filter.column">{{ filter.identifiers }}</label>
        <div class="dropdown">
          <button class="dropbtn">
            {{ selectedFilters[filter.column] || "Todos" }}
          </button>
          <div class="dropdown-content">
            <div class="dropdown-cl" *ngFor="let value of filter.allfilters">
              <div>
                <input
                  type="checkbox"
                  [checked]="isChecked(filter.column, value)"
                  (change)="onCheckboxChange(filter.column, value)"
                />
              </div>
              <div>
                <label>{{ value }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="modal-buttons">
        <button class="exclude">
          <span *ngIf="!isLoginLoading">Filtrar</span>
          <span *ngIf="isLoginLoading"><div class="login-spinner"></div></span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="playground-container">
  <div class="grid-container">
    <ktd-grid
      [cols]="cols"
      [rowHeight]="rowHeight"
      [layout]="layout"
      [compactType]="compactType"
      [preventCollision]="preventCollision"
      [scrollableParent]="autoScroll ? document : null"
      scrollSpeed="4"
      (dragStarted)="onDragStarted($event)"
      (resizeStarted)="onResizeStarted($event)"
      (dragEnded)="onDragEnded($event)"
      (resizeEnded)="onResizeEnded($event)"
      (layoutUpdated)="onLayoutUpdated($event)"
    >
      <ktd-grid-item
        *ngFor="let item of layout; trackBy: trackById"
        [id]="item.id"
        [transition]="currentTransition"
        [dragStartThreshold]="dragStartThreshold"
        [draggable]="!disableDrag"
        [resizable]="!disableResize"
      >
        <div *ngIf="item.type == 'card'">
          <div class="card">
            <div class="card-header">
              {{ item.title }}
            </div>
            <div class="card-body">
              <p>{{ item.content }}</p>
            </div>
          </div>
        </div>
        <!--<div class="grid-item-content">{{ item.type }}</div>-->
      </ktd-grid-item>
    </ktd-grid>
  </div>
</div>
