:host ::ng-deep .p-toast .p-toast-message .p-toast-message-content {
  padding: 7px 13px;
  border-width: 0 0 0 6px;
  font-size: 13px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

:host ::ng-deep .p-toast .p-toast-message .p-toast-icon-close {
  border-radius: 50%;
  background: transparent;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  width: 13px;
  height: 13px;
  color: #444444;
}

:host ::ng-deep .p-toast .p-toast-message {
  box-shadow: none;
}

:host
  ::ng-deep
  .p-toast
  .p-toast-message
  .p-toast-message-content
  .p-icon:not(.p-toast-icon-close-icon) {
  width: 2rem;
  height: 23px;
  margin: 0 10px 0 0 !important;
}

:host ::ng-deep a {
  font-size: 12px !important;
}

:host ::ng-deep .p-paginator-current,
.p-paginator-rpp-options {
  font-size: 12px;
}

:host ::ng-deep .p-datatable .p-datatable-header {
  border-left: none;
  border-right: none;
}

:host ::ng-deep .p-datatable .p-paginator-bottom {
  padding: 2px;
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
  font-size: 12px;
}

:host ::ng-deep a {
  font-size: 12px !important;
}

:host ::ng-deep .p-toast .p-toast-message.p-toast-message-error,
:host ::ng-deep .p-toast .p-toast-message.p-toast-message-success,
:host ::ng-deep .p-toast .p-toast-message.p-toast-message-info {
  margin-top: 20px !important;
  border: none;
}
