.container-nav-line {
  width: 60%;
  padding: 5px 10px;
  position: relative;
  top: -39px;
  left: 145px;
  align-self: baseline;
  display: flex;
}

.container-nav-line span {
  color: #00000074;
  font-size: 12px;
  margin-bottom: 4px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
  margin-top: -5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-top: -10px;
}

header span {
  font-size: 15px;
}

.container-content-header-button-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 10rem;
}

.action-button {
  color: #4f80e1;
  padding: 0 10px;
}

#deleteButton,
#seeButton {
  color: #aeaeae;
}

.content {
  width: 95%;
  max-height: calc(86vh - 5px);
}

.button-header {
  align-items: center;
  background-color: #5f65a5;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  height: 2rem;
  justify-content: center;
  line-height: 1;
  padding: 0 0.5rem;
  font-size: 12px;
}

:host ::ng-deep a {
  font-size: 12px !important;
}

:host ::ng-deep .p-paginator-current,
.p-paginator-rpp-options {
  font-size: 12px;
}

:host ::ng-deep .p-progressbar {
  height: 0.5rem;
  background-color: #d8dadc;
}

:host ::ng-deep .p-progressbar-value {
  background-color: #607d8b;
}

:host ::ng-deep .p-table {
  height: 20rem;
}

.card {
  height: 10%;
  margin-top: 1rem;
}

:host ::ng-deep .p-datatable .p-datatable-header {
  padding: 1rem 0rem !important;
}

.filter {
  justify-content: start;
  background-color: #fff;
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 30px;
  width: 250px;
  height: 40px;
}

.filter .icon {
  font-size: 10px;
  padding: 8px 2px 8px 15px;
}

.filter button {
  padding: 0.6rem;
  border: none;
  margin-right: 1rem;
  border-radius: 0.2rem;
}

.filter input {
  padding: 0.6rem;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  width: 205px;
}

th {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 13px;
}

.tr {
  display: flex;
  flex-direction: row;
}

td {
  text-align: left;
  border: 1px solid #e5e7eb;
  border-width: 0 0 1px 0;
  padding: 0.5rem 1rem;
  font-size: 12px;
  max-width: 120px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 480px;
  height: fit-content;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0px 1px 9px 3px rgba(66, 68, 90, 0.13);
  -moz-box-shadow: 0px 1px 9px 3px rgba(66, 68, 90, 0.13);
  box-shadow: 0px 1px 9px 3px rgba(66, 68, 90, 0.13);
}

.modal-content h2 {
  font-size: 15px;
  font-weight: 500;
}

.modal-content p {
  font-size: 13px;
}

.modal-buttons {
  margin-top: 35px;
  display: flex;
  justify-content: flex-end;
}

.cancel,
.exclude {
  border: none;
  padding: 8px 20px;
  background-color: rgb(255, 70, 70);
  margin: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel {
  background-color: #ffffff;
  color: #4f4f4f;
}

.exclude {
  color: #ffffff;
  width: 79px;
  height: 36px;
  display: flex;
  justify-content: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: -23px;
  left: 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.login-spinner {
  transform: translate(-50%, -50%);
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid rgb(255, 70, 70);
  width: 19px;
  height: 19px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

:host ::ng-deep .p-datatable .p-datatable-header {
  border-left: none;
  border-right: none;
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:active {
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #818979;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #363c33;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #01237e;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 20;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
