<div class="container-nav-line">
  <span>Usuários</span>
</div>
<div class="container">
  <header>
    <span>Usuários</span>
    <button
      role="button"
      class="button-header"
      routerLink="create_users"
      routerLinkActive="router-link-active"
    >
      Adicionar
    </button>
  </header>
  <div class="content">
    <div class="card">
      <p-table
        #tableReference
        dataKey="id"
        selectionMode="single"
        currentPageReportTemplate="Exibindo de {first} a {last} de {totalRecords} registros"
        scrollHeight="60vh"
        [value]="customers"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        [(contextMenuSelection)]="selectedCustomers"
        [contextMenu]="cm"
        [globalFilterFields]="[
          'id',
          'fullUserName',
          'userName',
          'email',
          'cargo',
          'perfis',
          'role'
        ]"
      >
        <ng-template pTemplate="caption">
          <div class="filter">
            <fa-icon
              class="icon"
              [icon]="icons.search"
              [size]="'xl'"
              title="Dashboards"
            ></fa-icon>
            <span class="p-input-icon-left">
              <input
                pInputText
                type="text"
                [(ngModel)]="searchValue"
                (input)="onInputChange($event, tableReference)"
                placeholder="Pesquisar"
              />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="min-width: 5rem" pSortableColumn="id">
              <div class="flex align-items-center">Código</div>
            </th>
            <th style="min-width: 15rem" pSortableColumn="fullUserName">
              <div class="flex align-items-center">Nome</div>
            </th>
            <th style="min-width: 12rem" pSortableColumn="userName">
              <div class="flex align-items-center">Usuário</div>
            </th>
            <th style="min-width: 12rem" pSortableColumn="cargo">
              <div class="flex align-items-center">Cargo</div>
            </th>

            <th style="min-width: 12rem" pSortableColumn="email">
              <div class="flex align-items-center">E-mail</div>
            </th>

            <th style="min-width: 12rem" pSortableColumn="perfis">
              <div class="flex align-items-center">Perfil</div>
            </th>

            <th style="min-width: 12rem" pSortableColumn="role">
              <div class="flex align-items-center">
                Regra de Acesso
                <ng-template pTemplate="filter" let-filter="filterCallback">
                  <p-slider
                    [ngModel]="roles"
                    [range]="true"
                    (onSlideEnd)="filter($event.values)"
                    styleClass="m-3"
                  ></p-slider>
                  <div class="flex align-items-center px-2">
                    <span>{{ roles[0] }}</span>
                  </div>
                </ng-template>
              </div>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-customer>
          <tr
            #tr
            [pSelectableRow]="customer"
            (click)="onRowClick(customer)"
            (contextmenu)="onRowSelect($event, customer)"
            [routerLink]="['edit_users']"
            [state]="{ item: customer }"
            pContextMenuRow="customer"
          >
            <td>
              {{ customer.id }}
            </td>
            <td>
              {{
                customer.fullUserName.length > 15
                  ? customer.fullUserName.slice(0, 15) + "..."
                  : customer.fullUserName
              }}
            </td>
            <td>
              {{
                customer.userName.length > 15
                  ? customer.userName.slice(0, 15) + "..."
                  : customer.userName
              }}
            </td>
            <td>
              {{
                customer.cargo.length > 15
                  ? customer.cargo.slice(0, 15) + "..."
                  : customer.cargo
              }}
            </td>
            <td>
              {{
                customer.email.toLowerCase().length > 15
                  ? customer.email.toLowerCase().slice(0, 15) + "..."
                  : customer.email.toLowerCase()
              }}
            </td>
            <td>
              {{
                customer.perfis &&
                customer.perfis.length > 0 &&
                customer.perfis[0]?.name.length > 15
                  ? customer.perfis[0]?.name.slice(0, 15) + "..."
                  : customer.perfis && customer.perfis.length > 0
                  ? customer.perfis[0]?.name
                  : "Sem perfil"
              }}
            </td>

            <td>
              {{ getRoles(customer.roles[0].name) }}
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">Sem registros encontrados</td>
          </tr>
        </ng-template>
      </p-table>

      <p-toast [life]="500"></p-toast>
      <p-contextMenu #cm [model]="items"></p-contextMenu>
    </div>
  </div>
</div>

<div
  class="modal"
  *ngIf="showModal"
  id="modal"
  [style.display]="showModal ? 'flex' : 'none'"
>
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <div>
      <h2>Tem certeza que deseja excluir o usuário {{ userName }} ?</h2>
      <p>Esta ação não pode ser desfeita</p>
      <div class="modal-buttons">
        <button class="cancel" (click)="closeModal()">cancelar</button>
        <button class="exclude" (click)="excludeUser()">
          <span *ngIf="!isLoginLoading">Excluir</span>
          <span *ngIf="isLoginLoading"><div class="login-spinner"></div></span>
        </button>
      </div>
    </div>
  </div>
</div>
