<p-skeleton width="90vw" height="86vh" *ngIf="loadingScreen"> </p-skeleton>

<div class="container" *ngIf="!loadingScreen">
  <div class="top">
    <highcharts-chart
      style="width: 38rem; height: 15rem"
      [Highcharts]="Highcharts"
      [options]="chartTop_One"
    >
    </highcharts-chart>
    <highcharts-chart
      style="width: 22rem; height: 15rem"
      [Highcharts]="Highcharts"
      [options]="chartTop_Two"
    >
    </highcharts-chart>
    <highcharts-chart
      style="width: 22rem; height: 15rem"
      [Highcharts]="Highcharts"
      [options]="chartTop_Three"
    >
    </highcharts-chart>
  </div>

  <div class="bottom">
    <highcharts-chart
      style="width: 35rem; height: 22rem"
      [Highcharts]="Highcharts"
      [options]="chartBottom_One"
    >
    </highcharts-chart>
    <highcharts-chart
      style="width: 35rem; height: 22rem"
      [Highcharts]="Highcharts"
      [options]="chartBottom_Two"
    >
    </highcharts-chart>
  </div>
</div>
