<p-skeleton width="90vw" height="86vh" *ngIf="loadingScreen"> </p-skeleton>

<div class="container" *ngIf="!loadingScreen">
  <div class="left">
    <highcharts-chart
      style="width: 42rem; height: 12rem"
      [Highcharts]="Highcharts"
      [options]="chart_One"
    >
    </highcharts-chart>

    <highcharts-chart
      style="width: 42rem; height: 12rem"
      [Highcharts]="Highcharts"
      [options]="chart_Two"
    >
    </highcharts-chart>

    <highcharts-chart
      style="width: 42rem; height: 12rem"
      [Highcharts]="Highcharts"
      [options]="chart_Three"
    >
    </highcharts-chart>
  </div>
  <div class="rigth">
    <highcharts-chart
      style="width: 42rem; height: 12rem"
      [Highcharts]="Highcharts"
      [options]="chart_Four"
    >
    </highcharts-chart>

    <highcharts-chart
      style="width: 42rem; height: 12rem"
      [Highcharts]="Highcharts"
      [options]="chart_Five"
    >
    </highcharts-chart>

    <highcharts-chart
      style="width: 42rem; height: 12rem"
      [Highcharts]="Highcharts"
      [options]="chart_Six"
    >
    </highcharts-chart>
  </div>
</div>
