.container-nav-line {
  width: 60%;
  padding: 5px 10px;
  position: relative;
  top: -39px;
  left: 145px;
  align-self: baseline;
  display: flex;
}

.container-nav-line span {
  color: #00000074;
  font-size: 12px;
  margin-bottom: 4px;
}

.container-nav-line button {
  border-radius: 50px;
  border: solid 0.5px #00000074;
  color: #00000074;
  cursor: pointer;
  margin-left: 5px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0.2rem 0 0 1.8rem;
  margin-top: -37px;
  height: calc(93vh - 5px);
  max-width: calc(97% - 5px);
}

.filter {
  justify-content: start;
  background-color: #fff;
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 30px;
  width: 250px;
  height: 40px;
}

.filter .iconSearch {
  font-size: 10px;
  padding: 8px 2px 8px 15px;
}

.filter button {
  padding: 0.6rem;
  border: none;
  margin-right: 1rem;
  border-radius: 0.2rem;
}

.filter input {
  padding: 0.6rem;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  width: 205px;
}

.container-path {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  margin-top: 15px;
}

.container-path-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.container-path-header span {
  font-size: 15px;
  color: #000000ce;
  margin: 8px;
}

.container-path-body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  padding: 15px 0;
  overflow-y: auto;
  max-width: 100%;
  max-height: calc(78vh - 5px);
  border-top: 1px solid #e5e7eb;
}

.container-path-button {
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  border-radius: 3px;
  margin: 8px 8px;
  width: 14.5rem;
  height: 3.5rem;
  padding: 0 15px;
  transition: 0.5s;
  box-shadow: -1px 0px 5px 1px rgba(211, 211, 211, 0.51);
  -webkit-box-shadow: -1px 0px 5px 1px rgba(211, 211, 211, 0.51);
  -moz-box-shadow: -1px 0px 5px 1px rgba(211, 211, 211, 0.51);
}

.container-path-button:hover {
  background-color: #f8f8fa;
}

.icon {
  margin: 0 0.5rem;
  color: #a3a7cb;
  font-size: 10px;
  margin-right: 10px;
}

.container-path-button span {
  font-size: 0.8rem;
}

.chart-container {
  width: 18.75rem;
  height: 18.75rem;
}
