<div class="container-nav-line">
  <span>Início > Usuários > Grupos</span>
  <button (click)="backScreen()">
    <span> x </span>
  </button>
</div>

<div class="container">
  <div class="container-path">
    <div class="container-path-header-two">
      <span>Grupos</span>
    </div>
    <div class="container-path-body">
      <ng-container *ngFor="let group of groups">
        <button class="container-path-button" (click)="callCharts(group.id)">
          <img src="assets/icons/folder.svg" alt="" />
          <span>{{ group.name }}</span>
        </button>
      </ng-container>
    </div>
  </div>
</div>
