.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
  margin: 0 1rem;
}

.left,
.rigth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 95%;
}

mat-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

mat-card-content p,
mat-card-content span {
  font-weight: bold;
  font-size: 1.2rem;
  color: #090f3c;
}

highcharts-chart,
mat-card-content {
  border-radius: 0.5rem;
  box-shadow: 8px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
