.container-nav-line {
  width: 60%;
  padding: 5px 10px;
  position: relative;
  top: -39px;
  left: 145px;
  align-self: baseline;
  display: flex;
}

.container-nav-line span {
  color: #00000074;
  font-size: 12px;
  margin-bottom: 4px;
}

.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100svh - 12rem);
}

.edit-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.edit-user > h2 {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  margin: 3.5rem 0 2rem 0;
}

.forms {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-edit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 1.8rem;
  width: 80%;
}

.form-edit-user {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.mdc-evolution-chip-set__chips {
  min-width: 100%;
  flex-wrap: nowrap;
  overflow: auto;
}

.form-create-user-profiles {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 130px;
  font-size: 13px;
}

.form-edit-user > label {
  color: #2a2d2e;
  font-size: 13px;
  font-style: normal;
  line-height: 1.55rem;
  margin-bottom: 0.2rem;
}

.form-edit-user > input {
  display: flex;
  align-items: center;
  border: 1px solid gainsboro;
  border-radius: 3px;
  font-size: 13px;
  width: 20rem;
  border-radius: 0.25rem;
  outline: none;
  padding: 5px 10px;
}

.button-form {
  border: none;
  padding: 0.6rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  padding: 0.4rem 0.6rem;
  border: 0.25rem solid #090238;
  background-color: #090238;
  box-shadow: 0px 2px 2px 0px #2a2d2e;
  color: #d9dee0;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.75rem;
  margin-top: 3rem;
  cursor: pointer;
}

.button-form:hover {
  background-color: #090238;
  border: 0.25rem solid #090238;
  opacity: 0.85;
}

.buttonsEditing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  width: 50rem;
}

.buttonsConfirmCancel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  width: 50rem;
}

.button-multi {
  border: none;
  padding: 0.6rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  padding: 0.625rem 0.975rem;
  color: #132a33;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.75rem; /* 155.556% */
  margin-top: 3rem;
  cursor: pointer;
}

:host ::ng-deep .p-dropdown {
  font-size: 13px;
  width: 100%;
  height: 33px;
  border-radius: 5px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .p-dropdown .p-dropdown-label.p-placeholder {
  color: #6b7280;
  font-size: 12px;
}

:host ::ng-deep .p-dropdown .p-dropdown-label {
  font-size: 12px;
}

:host ::ng-deep span {
  font-size: 12px;
}

:host
  ::ng-deep
  .p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item.p-highlight.p-focus
  .p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item {
  padding: 10px;
}
