<div class="container-nav-line">
  <span>Início > Dashboards > gráfico</span>
  <button (click)="backScreen()">
    <span> x </span>
  </button>
</div>
<div class="container">
  <div cdkDropListGroup class="container-data-group">
    <div class="container-data">
      <span>Dados</span>
      <div
        cdkDropList
        [cdkDropListData]="database"
        class="data-list"
        id="data-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" cdkDrag *ngFor="let item of database">
          <fa-icon
            class="icon"
            [icon]="icons.database"
            [size]="'xl'"
            title="Dashboards"
          ></fa-icon>
          {{ item?.name }}
        </div>
      </div>
    </div>

    <div class="container-create">
      <span class="graph-label">Gráficos</span>
      <div class="container-create-group">
        <div class="title">
          <span>Título</span>
          <input type="text" [(ngModel)]="titulo" />
        </div>
        <div class="series">
          <span class="serie-label"> Série base: </span>
          <div class="serie-content">
            <div *ngFor="let data of chartButtons">
              <button (click)="selectChartButton(data.label)">
                <fa-icon
                  class="iconChart"
                  [icon]="data.icon"
                  [size]="'xl'"
                ></fa-icon>
                {{ data.label }}
              </button>
            </div>
          </div>
        </div>
        <div class="yaxis">
          <span>Eixo y - Valores</span>
          <div
            id="yaxis"
            cdkDropList
            [cdkDropListData]="yaxis"
            class="serie-list y"
            [cdkDropListConnectedTo]="['data-list']"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              *ngFor="let item of yaxis; let i = index"
              class="series-box"
              cdkDrag
              cdkDragLockAxis="y"
              cdkDragBoundary=".y"
            >
              <div>
                <fa-icon
                  class="icon"
                  [icon]="icons.database"
                  [size]="'xl'"
                ></fa-icon>
                {{ selectedAggregation ? selectedAggregation : item?.name }}
              </div>
              <div class="series-buttons">
                <button
                  [cdkMenuTriggerFor]="menuautosum"
                  class="example-standalone-item"
                  (click)="openMenu(i, item)"
                >
                  <img
                    class="autosum"
                    src="../../../../../assets/icons/autosum.svg"
                    alt=""
                  />
                </button>
                <button
                  [cdkMenuTriggerFor]="menuedit"
                  class="example-standalone-item"
                  (click)="AxisValue(item)"
                >
                  <fa-icon
                    class="commomicon"
                    [icon]="icons.edit"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
                <button (click)="removeItem('yaxis', i)">
                  <fa-icon
                    class="removedataicon"
                    [icon]="icons.close"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="xaxis">
          <span>Eixo x - Rótulos</span>
          <div
            id="xaxis"
            cdkDropList
            [cdkDropListData]="xaxis"
            class="serie-list x"
            [cdkDropListConnectedTo]="['data-list']"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              *ngFor="let item of xaxis; let i = index"
              class="series-box"
              cdkDrag
              cdkDragLockAxis="y"
              cdkDragBoundary=".x"
            >
              <div>
                <fa-icon
                  class="icon"
                  [icon]="icons.database"
                  [size]="'xl'"
                ></fa-icon>
                {{ item.name }}
              </div>
              <div class="series-buttons">
                <button
                  [cdkMenuTriggerFor]="menuedit"
                  class="example-standalone-item"
                  (click)="AxisValue(item)"
                >
                  <fa-icon
                    class="commomicon"
                    [icon]="icons.edit"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
                <button (click)="removeItem('xaxis', i)">
                  <fa-icon
                    class="removedataicon"
                    [icon]="icons.close"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="seriesdata">
          <span>Series</span>
          <div
            cdkDropList
            [cdkDropListData]="series"
            class="serie-list s"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              *ngFor="let item of series; let i = index"
              class="series-box"
              cdkDrag
              cdkDragLockAxis="y"
              cdkDragBoundary=".s"
            >
              <div>
                <fa-icon
                  class="icon"
                  [icon]="icons.database"
                  [size]="'xl'"
                ></fa-icon>
                {{ item.name }}
              </div>
              <div class="series-buttons">
                <button
                  [cdkMenuTriggerFor]="menuedit"
                  class="example-standalone-item"
                  (click)="AxisValue(item)"
                >
                  <fa-icon
                    class="commomicon"
                    [icon]="icons.edit"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
                <button (click)="removeItem('series', i)">
                  <fa-icon
                    class="removedataicon"
                    [icon]="icons.close"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="filters">
          <span>Filtros</span>
          <div
            cdkDropList
            [cdkDropListData]="filters"
            class="serie-list f"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              *ngFor="let item of filters; let i = index"
              class="series-box"
              cdkDrag
              cdkDragLockAxis="y"
              cdkDragBoundary=".f"
            >
              <div>
                <fa-icon
                  class="icon"
                  [icon]="icons.database"
                  [size]="'xl'"
                ></fa-icon>
                {{ item.name }}
              </div>
              <div class="series-buttons">
                <button
                  [cdkMenuTriggerFor]="menuedit"
                  class="example-standalone-item"
                  (click)="AxisValue(item)"
                >
                  <fa-icon
                    class="commomicon"
                    [icon]="icons.edit"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
                <button (click)="removeItem('filters', i)">
                  <fa-icon
                    class="removedataicon"
                    [icon]="icons.close"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="groupment">
          <span>Agrupamento</span>
          <div
            cdkDropList
            [cdkDropListData]="groupment"
            class="serie-list a"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              *ngFor="let item of groupment; let i = index"
              class="series-box"
              cdkDrag
              cdkDragLockAxis="y"
              cdkDragBoundary=".a"
            >
              <div>
                <fa-icon
                  class="icon"
                  [icon]="icons.database"
                  [size]="'xl'"
                ></fa-icon>
                {{ item.name }}
              </div>
              <div class="series-buttons">
                <button
                  [cdkMenuTriggerFor]="menuedit"
                  class="example-standalone-item"
                  (click)="AxisValue(item)"
                >
                  <fa-icon
                    class="commomicon"
                    [icon]="icons.edit"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
                <button (click)="removeItem('groupment', i)">
                  <fa-icon
                    class="removedataicon"
                    [icon]="icons.close"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="order">
          <span>Ordenação</span>
          <div
            cdkDropList
            [cdkDropListData]="order"
            class="serie-list o"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              *ngFor="let item of order; let i = index"
              class="series-box"
              cdkDrag
              cdkDragLockAxis="y"
              cdkDragBoundary=".o"
            >
              <div>
                <fa-icon
                  class="icon"
                  [icon]="icons.database"
                  [size]="'xl'"
                ></fa-icon>
                {{ item.name }}
              </div>
              <div class="series-buttons">
                <button
                  [cdkMenuTriggerFor]="menuedit"
                  class="example-standalone-item"
                  (click)="AxisValue(item)"
                >
                  <fa-icon
                    class="commomicon"
                    [icon]="icons.edit"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
                <button (click)="removeItem('order', i)">
                  <fa-icon
                    class="removedataicon"
                    [icon]="icons.close"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="visualize">
        <button (click)="chartPreView()"><p>Visualizar</p></button>
      </div>
    </div>
  </div>
  <div class="container-pre-view">
    <span>pré visualização</span>
    <div class="chart-container">
      <highcharts-chart
        style="width: 30rem; height: 25rem; margin: 5px"
        [Highcharts]="Highcharts"
        [options]="chartConfig"
      ></highcharts-chart>
    </div>
  </div>
</div>
<ng-template #menuautosum>
  <div class="example-menu" cdkMenu>
    <button
      class="example-menu-item"
      cdkMenuItem
      (click)="extractValue('AVG')"
      [class.selected]="
        selectedAggregation === 'AVG(' + selectedYAxis.name + ')'
      "
    >
      AVG()
    </button>
    <button
      class="example-menu-item"
      cdkMenuItem
      (click)="extractValue('COUNT')"
      [class.selected]="
        selectedAggregation === 'COUNT(' + selectedYAxis.name + ')'
      "
    >
      COUNT()
    </button>
    <button
      class="example-menu-item"
      cdkMenuItem
      (click)="extractValue('SUM')"
      [class.selected]="
        selectedAggregation === 'SUM(' + selectedYAxis.name + ')'
      "
    >
      SUM()
    </button>
  </div>
</ng-template>

<ng-template #menuedit>
  <div class="edit-menu" cdkMenu>
    <div>
      <label for="identifier">Identificador</label>
      <input
        name="identifier"
        type="text"
        [(ngModel)]="identifier"
        [value]="selectedYAxis.identifier"
      />
    </div>
    <button class="edit-save" cdkMenuItem (click)="editSave()">Salvar</button>
  </div>
</ng-template>
