<div id="loading-screen" *ngIf="isLoading">
  <div class="spinner"></div>
</div>
<div class="container no-data" *ngIf="!isDatabaseContent">
  <h3>Ainda não há dados neste dashboard</h3>
  <button (click)="returnToCreateView()">Voltar ao Workspace</button>
</div>
<div class="container" *ngIf="isDatabaseContent">
  <div cdkDropListGroup class="container-data-group">
    <div class="container-data">
      <span>Dados</span>
      <div
        cdkDropList
        [cdkDropListData]="database"
        class="data-list"
        id="data-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" cdkDrag *ngFor="let item of database">
          <fa-icon
            class="icon"
            [icon]="icons.database"
            [size]="'xl'"
            title="Dashboards"
          ></fa-icon>
          <div class="labels">
            <span [title]="item.name">{{ item?.name }}</span>
            <span [title]="item.name">{{ item?.type }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="container-create">
      <span class="graph-label">Gráficos</span>
      <div class="container-create-group">
        <div class="title">
          <span>Título</span>
          <input type="text" [(ngModel)]="titulo" />
        </div>
        <div class="series">
          <span class="serie-label">
            Série base <span class="mandatory">*</span></span
          >
          <div class="serie-content">
            <div *ngFor="let data of chartButtons">
              <button
                (click)="selectChartButton(data.label, data.value)"
                [class.selected]="selectedChartButton === data.label"
              >
                <fa-icon
                  class="iconChart"
                  [icon]="data.icon"
                  [size]="'xl'"
                ></fa-icon>
                {{ data.label }}
              </button>
            </div>
          </div>
        </div>
        <div class="yaxis">
          <span>Eixo y - Valores <span class="mandatory">*</span></span>
          <div
            id="yaxis"
            cdkDropList
            [cdkDropListData]="yaxis"
            class="serie-list y"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              *ngFor="let item of yaxis; let i = index"
              class="series-box"
              cdkDrag
              cdkDragLockAxis="y"
              cdkDragBoundary=".y"
            >
              <fa-icon
                class="icon"
                [icon]="icons.database"
                [size]="'xl'"
              ></fa-icon>
              <div class="labels">
                <span>
                  {{
                    selectedAggregation ? selectedAggregation : item?.name
                  }}</span
                >
                <span>{{ item?.type }}</span>
              </div>
              <div class="series-buttons">
                <button
                  *ngIf="item.type == 'numeric'"
                  [cdkMenuTriggerFor]="menuautosum"
                  class="example-standalone-item"
                  (click)="openMenu(i, item)"
                >
                  <img
                    class="autosum"
                    src="../../../../../assets/icons/autosum.svg"
                    alt=""
                  />
                </button>
                <button
                  [cdkMenuTriggerFor]="menuedit"
                  class="example-standalone-item"
                  (click)="AxisValue(item)"
                >
                  <fa-icon
                    class="commomicon"
                    [icon]="icons.edit"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
                <button (click)="removeItem('yaxis', i)">
                  <fa-icon
                    class="removedataicon"
                    [icon]="icons.close"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="xaxis" *ngIf="xaxisShow">
          <span>Eixo x - Rótulos <span class="mandatory">*</span></span>
          <div
            id="xaxis"
            cdkDropList
            [cdkDropListData]="xaxis"
            class="serie-list x"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              *ngFor="let item of xaxis; let i = index"
              class="series-box"
              cdkDrag
              cdkDragLockAxis="y"
              cdkDragBoundary=".x"
            >
              <fa-icon
                class="icon"
                [icon]="icons.database"
                [size]="'xl'"
              ></fa-icon>
              <div class="labels">
                <span> {{ item?.name }}</span>
                <span>{{ item?.type }}</span>
              </div>
              <div class="series-buttons">
                <button
                  [cdkMenuTriggerFor]="menuedit"
                  class="example-standalone-item"
                  (click)="AxisValue(item)"
                >
                  <fa-icon
                    class="commomicon"
                    [icon]="icons.edit"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
                <button (click)="removeItem('xaxis', i)">
                  <fa-icon
                    class="removedataicon"
                    [icon]="icons.close"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="seriesdata">
          <span
            >Legenda
            <span *ngIf="chartType == 'pie'" class="mandatory">*</span></span
          >
          <div
            id="legend"
            cdkDropList
            [cdkDropListData]="series"
            class="serie-list s"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              *ngFor="let item of series; let i = index"
              class="series-box"
              cdkDrag
              cdkDragLockAxis="y"
              cdkDragBoundary=".s"
            >
              <fa-icon
                class="icon"
                [icon]="icons.database"
                [size]="'xl'"
              ></fa-icon>
              <div class="labels">
                <span> {{ item?.name }}</span>
                <span>{{ item?.type }}</span>
              </div>
              <div class="series-buttons">
                <button
                  [cdkMenuTriggerFor]="menuedit"
                  class="example-standalone-item"
                  (click)="AxisValue(item)"
                >
                  <fa-icon
                    class="commomicon"
                    [icon]="icons.edit"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
                <button (click)="removeItem('series', i)">
                  <fa-icon
                    class="removedataicon"
                    [icon]="icons.close"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="filters">
          <span>Filtros</span>
          <div
            id="filters"
            cdkDropList
            [cdkDropListData]="filters"
            class="serie-list f"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              *ngFor="let item of filters; let i = index"
              class="series-box"
              cdkDrag
              cdkDragLockAxis="y"
              cdkDragBoundary=".f"
            >
              <fa-icon
                class="icon"
                [icon]="icons.database"
                [size]="'xl'"
              ></fa-icon>
              <div class="labels">
                <span> {{ item?.name }}</span>
                <span>{{ item?.type }}</span>
              </div>
              <div class="series-buttons">
                <button
                  [cdkMenuTriggerFor]="menuedit"
                  class="example-standalone-item"
                  (click)="AxisValue(item)"
                >
                  <fa-icon
                    class="commomicon"
                    [icon]="icons.edit"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
                <button (click)="removeItem('filters', i)">
                  <fa-icon
                    class="removedataicon"
                    [icon]="icons.close"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="order">
          <span>Ordenação</span>
          <div
            id="order"
            cdkDropList
            [cdkDropListData]="order"
            class="serie-list o"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              *ngFor="let item of order; let i = index"
              class="series-box"
              cdkDrag
              cdkDragLockAxis="y"
              cdkDragBoundary=".o"
            >
              <fa-icon
                class="icon"
                [icon]="icons.database"
                [size]="'xl'"
              ></fa-icon>
              <div class="labels">
                <span> {{ item?.name }}</span>
                <span>{{ item?.type }}</span>
              </div>
              <div class="series-buttons">
                <button
                  [cdkMenuTriggerFor]="menuedit"
                  class="example-standalone-item"
                  (click)="AxisValue(item)"
                >
                  <fa-icon
                    class="commomicon"
                    [icon]="icons.edit"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
                <button (click)="removeItem('order', i)">
                  <fa-icon
                    class="removedataicon"
                    [icon]="icons.close"
                    [size]="'xl'"
                  ></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-pre-view">
    <span>Pré-visualização</span>
    <div *ngIf="showPreviewButton" class="visualize">
      <button (click)="seedData()"><p>Pré-Visualizar</p></button>
      <button (click)="returnToCreateView()" class="cancel-button">
        <p>Cancelar</p>
      </button>
    </div>
    <div *ngIf="!showPreviewButton" class="chart-container">
      <span *ngIf="isEditing; else content">
        <p-skeleton width="102%" height="25rem" styleClass="mb-2"></p-skeleton>
      </span>
      <ng-template #content>
        <highcharts-chart
          #content
          *ngFor="let key of chartKeys()"
          [Highcharts]="Highcharts"
          [options]="chartConfig[key]"
          style="
            width: 100%;
            height: 25rem;
            margin: 5px;
            border: solid 1px gainsboro;
          "
          [update]="true"
        ></highcharts-chart>
      </ng-template>
    </div>
    <div class="chart-container-buttons" *ngIf="!showPreviewButton">
      <div>
        <button (click)="openModal()"><p>Cancelar</p></button>
        <button (click)="updateChart()"><p>Atualizar</p></button>
      </div>
      <div>
        <button (click)="returnToCreateView()" class="conclude">
          <p>Concluir</p>
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #menuautosum>
  <div class="example-menu" cdkMenu>
    <button
      class="example-menu-item"
      cdkMenuItem
      (click)="extractValue('AVG')"
      [class.selected]="
        selectedAggregation === 'AVG(' + selectedYAxis.name + ')'
      "
    >
      AVG()
    </button>
    <button
      class="example-menu-item"
      cdkMenuItem
      (click)="extractValue('COUNT')"
      [class.selected]="
        selectedAggregation === 'COUNT(' + selectedYAxis.name + ')'
      "
    >
      COUNT()
    </button>
    <button
      class="example-menu-item"
      cdkMenuItem
      (click)="extractValue('SUM')"
      [class.selected]="
        selectedAggregation === 'SUM(' + selectedYAxis.name + ')'
      "
    >
      SUM()
    </button>
  </div>
</ng-template>

<ng-template #menuedit>
  <div class="edit-menu" cdkMenu>
    <div>
      <label for="identifier">Identificador</label>
      <input
        name="identifier"
        type="text"
        [(ngModel)]="identifiers"
        [value]="selectedYAxis.identifiers"
      />
    </div>
    <button class="edit-save" cdkMenuItem (click)="editSave()">Salvar</button>
  </div>
</ng-template>

<div
  class="modal"
  *ngIf="showModal"
  id="modal"
  [style.display]="showModal ? 'flex' : 'none'"
>
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <div>
      <h2>Tem certeza que deseja cancelar esta ação?</h2>
      <p>As alterações do gráfico não serão salvas</p>
      <div class="modal-buttons">
        <button class="cancel" (click)="closeModal()">Cancelar</button>
        <button class="exclude" (click)="openModalCancel()">
          <span>Sair sem salvar</span>
        </button>
      </div>
    </div>
  </div>
</div>
