<p-skeleton width="93vw" height="86vh" *ngIf="loadingScreen"> </p-skeleton>

<div class="container" *ngIf="!loadingScreen">
  <div class="top">
    <div class="card-top blue">
      <p>Saldo inicial (hoje)</p>
      <span>0k</span>
    </div>
    <div class="card-top green">
      <p>Restante a receber (mês)</p>
      <span>0k</span>
    </div>
    <div class="card-top red">
      <p>Restante a pagar (mês anterior)</p>
      <span>0k</span>
    </div>
    <div class="card-top gray">
      <p>Saldo final (mês)</p>
      <span>0k</span>
    </div>
    <div class="card-top aquablue">
      <p>A receber (total)</p>
      <span>0k</span>
    </div>
    <div class="card-top pink">
      <p>A receber (7 dias)</p>
      <span>0k</span>
    </div>
  </div>
</div>
