<div class="container-nav-line">
  <span>Início</span>
</div>
<div class="container">
  <div class="container-path-header">
    <span>Pastas</span>
    <header>
      <div class="content-filter">
        <div class="filter">
          <fa-icon
            class="icon"
            [icon]="icons.search"
            [size]="'xl'"
            title="Dashboards"
          ></fa-icon>
          <span class="p-input-icon-left">
            <input
              pInputText
              type="text"
              [(ngModel)]="searchTerm"
              placeholder="Pesquisar pasta"
              (input)="onInputChange($event)"
            />
          </span>
        </div>
      </div>
    </header>
  </div>

  <div class="content-main-container">
    <div *ngFor="let perfil of filteredItems">
      <div class="container-path-body-profile-label">
        <span
          >Do perfil <strong>{{ perfil.name }}</strong></span
        >
        <div class="container-path-body">
          <button
            class="container-path-button"
            *ngFor="let path of perfil.paths"
            (click)="openChartGroup(path)"
          >
            <img src="assets/icons/folder.svg" alt="" />
            <span>{{
              path.name.length > 25
                ? path.name.substring(0, 25) + "..."
                : path.name
            }}</span>
          </button>
        </div>
      </div>
    </div>
    <ng-container
      *ngIf="filteredItems == undefined || filteredItems.length == 0"
    >
      <div class="container-path-no-result">
        <h2>Sem Resultado</h2>
      </div>
    </ng-container>
  </div>
</div>
