.container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: calc(91%);
}

.container-path {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  justify-content: space-between;
  margin-top: 15px;
}

.container-path-header {
  width: 75.3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 17px;
  left: 244px;
}

.container-path-header span {
  font-size: 0.75rem;
  color: #00000096;
}

.container-path-body-profile-label {
  font-size: 12px;
  color: #00000096;
  padding: 10px;
  margin-top: 5px;
}

strong {
  font-weight: 550;
}

.container-path-body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

.container-path-button {
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  margin: 8px 8px;
  width: 228px;
  height: 55px;
  padding: 0 15px;
  background-color: #ffffff;
  box-shadow: -1px 0px 5px 1px rgba(211, 211, 211, 0.51);
  -webkit-box-shadow: -1px 0px 5px 1px rgba(211, 211, 211, 0.51);
  -moz-box-shadow: -1px 0px 5px 1px rgba(211, 211, 211, 0.51);
  transition: 0.5s;
}

.container-path-button:hover {
  background-color: #f8f8fa;
}

.container-path-button img {
  width: 1rem;
  margin-right: 2rem;
}

.container-path-button span {
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
