<div class="container">
  <div class="container-path">
    <div class="container-path-header">
      <span>Pastas</span>
    </div>
    <div class="container-path-header-two">
      <span>Pastas</span>
    </div>
    <div *ngFor="let perfil of profiles">
      <div class="container-path-body-profile-label">
        <span
          >Do perfil <strong>{{ perfil }}</strong></span
        >
        <div class="container-path-body">
          <button
            class="container-path-button"
            *ngFor="let path of pathsByProfile[perfil]"
            (click)="openChartGroup(path)"
          >
            <img src="assets/icons/folder.svg" alt="" />
            <span>{{ path.name }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
