<div class="container-nav-line">
  <span>Início > Dashboards</span>
  <button (click)="backScreen()">
    <span> x </span>
  </button>
</div>
<div class="container">
  <div class="list-dashboards">
    <span class="dashboards-label">Lista de Dashboards</span>
    <button class="dashboard-buttons">
      <span>Faturamento por convênio</span>
      <img src="../../../../assets/icons/folder.svg" alt="" />
    </button>
    <button class="dashboard-buttons">
      <span>Convênio x retorno</span>
      <img src="../../../../assets/icons/folder.svg" alt="" />
    </button>
    <button class="dashboard-buttons">
      <span>Glosas</span>
      <img src="../../../../assets/icons/folder.svg" alt="" />
    </button>
    <button class="dashboard-buttons">
      <span>Demonstrativo mensal</span>
      <img src="../../../../assets/icons/folder.svg" alt="" />
    </button>
  </div>
  <header>
    <!--<button
      role="button"
      class="button-header"
      routerLink="create_users"
      routerLinkActive="router-link-active"
    >
      Adicionar
    </button>-->
  </header>
  <div class="content"></div>
</div>
