.example-container {
  width: 400px;
  height: 200px;
  margin: 12px;
  border: 1px solid #555;
}

.mat-drawer-content {
  overflow: hidden;
}

.mat-sidenav-container {
  height: 100vh;
}

.mat-drawer-inner-container {
  overflow: hidden;
}

.mat-sidenav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 3rem;
  border-right-width: 2px;
  background-color: #fafafa;
  border-right-color: #e6e6e6;
  transition: 0.5s;
  overflow: hidden;
}

.sidenav-collapsed {
  width: 12rem;
}

.logo {
  margin-top: 8px;
  position: absolute;
  top: -5px;
  left: 46px;
}

.logo img {
  width: 6.5rem;
}

.menu-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 0.6rem;
  overflow: hidden;
  margin-top: 70px;
}

mat-list-item {
  padding-left: 6px;
  padding-right: 6px;
}

.menu-item-content {
  display: flex;
  align-items: center;
}

.container-icon {
  display: flex;
  justify-content: start;
  align-items: center;
  row-gap: 5px;
}

.container-icon .icon {
  margin-right: 1rem;
  font-size: 12px;
}

.container-icon span {
  font-size: 13px;
  font-weight: 400;
}

.container-icon {
  margin: 0 0.5rem;
  color: #4c3f63;
}

.container-icon:hover {
  color: #5b5b5b;
}

.menu-item {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 2rem;
}

.open-close-sidenav {
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50px;
  padding: 8px;
  padding-top: 0;
  height: 40px;
  position: fixed;
  top: 10px;
  left: 3px;
}

.active .icon,
.active .menu-item {
  color: #7b36e2;
}

.button {
  margin: 0 0.6rem;
  color: #fff;
  transition: 300ms ease-in-out;
  transform: rotate(0deg);

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logout {
  margin-top: auto;
  cursor: pointer;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 46px;
  border-bottom: solid 0.2px #e6e6e6;
}

.profile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-menu fa-icon {
  color: #090238;
}

.button-profile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ced4d7;
  background-color: #abbac015;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-right: 0.5rem;
  cursor: pointer;
  padding: 0px;
}

.button-profile-menu:active {
  border: 1px solid #ced4d784;
  background-color: #abbac053;
}

.button-profile-menu:hover {
  border: 1px solid #ced4d784;
  background-color: #abbac053;
}

.initials {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #08051c;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2rem;
  margin: 10px;
}

.container-profile {
  padding: 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  color: #08051c;
}

.mat-menu-item {
  min-height: 2.2rem !important;
  font-size: 0.8rem;
  color: #08051c;
}
