<p-skeleton width="90vw" height="86vh" *ngIf="loadingScreen"> </p-skeleton>

<div class="container" *ngIf="!loadingScreen">
  <div class="top">
    <highcharts-chart
      style="width: 35rem; height: 10rem"
      [Highcharts]="Highcharts"
      [options]="chartBarTop_One"
    >
    </highcharts-chart>
    <highcharts-chart
      style="width: 35rem; height: 10rem"
      [Highcharts]="Highcharts"
      [options]="chartBarTop_Two"
    >
    </highcharts-chart>
  </div>
  <div class="middle">
    <highcharts-chart
      style="width: 80rem; height: 10rem"
      [Highcharts]="Highcharts"
      [options]="chartBarMiddle_One"
    >
    </highcharts-chart>
  </div>
  <div class="bottom">
    <highcharts-chart
      style="width: 32rem; height: 18rem"
      [Highcharts]="Highcharts"
      [options]="chartBarBottom_One"
    >
    </highcharts-chart>
    <highcharts-chart
      style="width: 32rem; height: 18rem"
      [Highcharts]="Highcharts"
      [options]="chartBarBottom_Two"
    >
    </highcharts-chart>
  </div>
</div>
