.col-md-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 52rem;
  height: 38rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: 0px 4px 90px 0px #abbac0;
  padding: 0 3rem 0 2rem;
}

.form-group {
  margin-top: 2rem;
}

h1 {
  color: #090238;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem; /* 100% */
}

label {
  color: #2a2d2e;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem; /* 155.556% */
}

input {
  display: flex;
  width: 24.375rem;
  padding: 0.625rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.25rem;
  border: 1px solid #737b7f;
  background-color: #eaeaea;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24.375rem;
  padding: 0.625rem 1.875rem;
  border: 0.25rem solid #090238;
  background-color: #090238;
  box-shadow: 0px 2px 2px 0px #2a2d2e;
  color: #d9dee0;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 155.556% */
}


button:hover{
  background-color: #090238;
  border: 0.25rem solid #090238;
  opacity: .85;

}
