<div class="container-nav-line">
  <span>Início > Pastas > Dashboards </span>
  <button (click)="backScreen()">
    <span> x </span>
  </button>
</div>
<div class="container">
  <header>
    <h2>Dashboards</h2>

    <div class="content-filter">
      <input
        pInputText
        type="text"
        (input)="onInputChange($event)"
        placeholder="Pesquisar dashboards.."
      />
      <button
        pButton
        label="Limpar"
        class="filter-button-clear"
        (click)="clear($event)"
      >
        <span class="material-symbols-outlined"> filter_alt_off </span>
      </button>
    </div>
  </header>

  <div class="content" *ngIf="filteredItems?.length > 0">
    <button
      class="container-path-button"
      *ngFor="let item of filteredItems"
      (click)="openNext(item)"
    >
      <img src="assets/icons/folder.svg" alt="" />
      <span>{{ item.name }}</span>
    </button>
  </div>

  <div class="content-nochart" *ngIf="filteredItems?.length <= 0">
    <span class="material-symbols-outlined"> warning </span>
    <p>Sem registros encontrados</p>
  </div>
</div>
