.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
  max-width: 100%;
  height: calc(92%);
  overflow-x: auto;
}

.container-path {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  justify-content: space-between;
  margin-top: 15px;
}

.container-path-header {
  width: 177px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 17px;
  left: 244px;
}

.container-path-header span {
  color: #00000074;
  font-size: 12px;
  margin-bottom: 4px;
}

.container-path-header button {
  border-radius: 50px;
  border: solid 0.5px #00000074;
  color: #00000074;
  cursor: pointer;
  margin-left: 5px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-path-header span {
  font-size: 13px;
  color: #00000096;
}

.container-path-body-profile-label {
  font-size: 12px;
  color: #00000096;
  padding: 10px;
  margin-top: 5px;
}

strong {
  font-weight: 550;
}

.container-path-body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

.container-path-button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  margin: 8px 8px;
  width: 228px;
  height: 55px;
  padding: 0 15px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: -1px 0px 5px 1px rgba(211, 211, 211, 0.51);
  -webkit-box-shadow: -1px 0px 5px 1px rgba(211, 211, 211, 0.51);
  -moz-box-shadow: -1px 0px 5px 1px rgba(211, 211, 211, 0.51);
  transition: 0.5s;
}

.container-charts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin: 0 1rem;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  width: 100%;
}

.l-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  width: 50%;
}

highcharts-chart {
  border-radius: 0.5rem;
  box-shadow: 8px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:active {
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #818979;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #363c33;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #01237e;
}
