.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 92%;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.2rem;
  width: 99%;
  background-color: #fff;
}

.filter-icon {
  color: #22035185;
}

.filter-container {
  display: flex;
  margin-left: 0.8rem;
  max-width: 95%;
}

.filter-filters {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin-left: 0.3rem;
  height: 1.9rem;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 2px 0px #abbac0;
}

.filter-filters-data {
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: fit-content;
  min-width: fit-content;
  padding: 0.5rem;
}

.filter-filters-data h3 {
  font-size: 0.8rem;
  margin-right: 0.5rem;
  font-weight: normal;
  text-transform: capitalize;
}

.filter-filters-data span {
  font-size: 0.8rem;
  font-weight: 350;
  width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filter-button {
  display: flex;
  justify-content: end;
  align-items: center;
}

.filter-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 2rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border-radius: 3px;
  border: solid 1px #2203512e;
}

.filter-button button:hover {
  background-color: #f7f7f7;
  border: solid 1px #300d642e;
}

.container-path {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  justify-content: space-between;
  margin-top: 15px;
}

.container-path-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 18px;
  left: 225px;
}

.container-path-header button {
  border-radius: 50px;
  border: solid 0.5px #00000074;
  color: #00000074;
  cursor: pointer;
  margin-left: 5px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-path-header span {
  font-size: 12px;
  color: #00000096;
}

.container-path-body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

.container-charts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 95vw;
  margin: 0 1rem;
  cursor: grab;
}

.container-charts_left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 95%;
  width: 100%;
}

.content-charts_left {
  display: flex;
}

.content-charts_left .drag {
  display: flex;
  cursor: pointer;
  box-shadow: 0px 0px 2px 0px #abbac0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 90px;
  height: 86.6%;
  max-width: 80%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  margin-right: initial;
  width: 270px;
  max-width: 270px;
  height: 100%;
  max-height: 100%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px #cfcfcf;
}

.modal-content h2 {
  font-size: 18px;
}

.modal-content p {
  font-size: 13px;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20px;
}

.exclude {
  border: none;
  padding: 8px 20px;
  background-color: #300b67;
  margin: 7px;
  border-radius: 5px;
  width: 69px;
  height: 35px;
  cursor: pointer;
}

.exclude {
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-right: inherit;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-icon {
  font-size: 20px;
  color: #00000059;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  height: 85%;
  max-height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-fields {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px 0;
}

.modal-fields label {
  font-size: 13px;
  color: #000000ab;
}

.modal-fields input {
  border: solid 1px #93939388;
  border-radius: 3px;
  outline: none;
  width: 100%;
  padding: 5px;
}

.modal-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.login-spinner {
  transform: translate(-50%, -50%);
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #751a7e;
  width: 19px;
  height: 19px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.modal-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-fields label {
  text-transform: capitalize;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropbtn {
  color: black;
  padding: 5px 10px;
  font-size: 13px;
  border: solid 1px #bdbdbd;
  cursor: pointer;
  width: 100%;
  display: flex;
  background-color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(150, 150, 150, 1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(150, 150, 150, 1);
  box-shadow: 0px 3px 5px 0px rgba(150, 150, 150, 1);
  width: 100%;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(150, 150, 150, 1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(150, 150, 150, 1);
  box-shadow: 0px 3px 5px 0px rgba(150, 150, 150, 1);
}

.dropdown-cl {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 100%;
  border-bottom: solid 1px #0000000c;
}

.dropdown-cl div {
  width: 50%;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}

/* Checkbox styling */
.dropdown-content input[type="checkbox"] {
  margin-right: 5px;
  cursor: pointer;
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:active {
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #818979;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #363c33;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #01237e;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 20;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
