<div class="container">
  <div class="filter">
    <div class="filter-container">
      <div class="filter-filters" *ngFor="let filter of filters">
        <div class="filter-filters-data">
          <h3>{{ filter.identifiers }}:</h3>
          <span [title]="filter.values">{{ filter.values }} </span>
        </div>
      </div>
    </div>
    <div class="filter-button">
      <button (click)="openModal()">
        <p>Filtro</p>
        <span class="material-symbols-outlined filter-icon"> filter_alt </span>
      </button>
    </div>
  </div>

  <div class="container-path">
    <div class="container-path-header">
      <span>Pastas > Grupos > Gráficos</span>
      <button (click)="backScreen()">
        <span> x </span>
      </button>
    </div>
    <div class="container-path-body"></div>
  </div>

  <div class="container-charts" #containerCharts>
    <div class="content-charts_left">
      <div
        *ngFor="let chartConfig of chartGroupsData; let i = index"
        class="drag"
        ngDraggable
        ngResizable
        rzContain
        rzHandles="all"
        [rzMinWidth]="350"
        [rzMinHeight]="250"
        (rzStop)="resize(i, $event)"
        [position]="chartPositions[i.toString()]"
        (endOffset)="onMoveEnd(i, $event)"
        [bounds]="containerCharts"
        [inBounds]="true"
        [zIndexMoving]="zIndexMoving"
        [zIndex]="zIndex"
        [style.width.px]="
          chartDimensions[i.toString()] ? chartDimensions[i.toString()].x : 350
        "
        [style.height.px]="
          chartDimensions[i.toString()] ? chartDimensions[i.toString()].y : 250
        "
      >
        <highcharts-chart
          style="width: 100%; height: 100%"
          [Highcharts]="Highcharts"
          [options]="chartConfig"
        ></highcharts-chart>
      </div>
    </div>
  </div>

  <div
    class="modal"
    *ngIf="showModal"
    id="modal"
    [style.display]="showModal ? 'flex' : 'none'"
    cdkDrag
  >
    <div class="modal-content">
      <div class="modal-header">
        <h2>Filtros</h2>
        <span class="close" (click)="showModal = false">
          <span class="material-symbols-outlined close-icon"> close </span>
        </span>
      </div>

      <div class="modal-body">
        <div class="modal-fields" *ngFor="let filter of filters">
          <label for="filter.column">{{ filter.identifiers }}</label>
          <div class="dropdown">
            <button class="dropbtn">
              {{ selectedFilters[filter.column] || "Todos" }}
            </button>
            <div class="dropdown-content">
              <div class="dropdown-cl" *ngFor="let value of filter.allfilters">
                <div>
                  <input
                    type="checkbox"
                    [checked]="isChecked(filter.column, value)"
                    (change)="onCheckboxChange(filter.column, value)"
                  />
                </div>
                <div>
                  <label>{{ value }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="modal-buttons">
          <button class="exclude" (click)="executeFilter()">
            <span *ngIf="!isLoginLoading">Filtrar</span>
            <span *ngIf="isLoginLoading"
              ><div class="login-spinner"></div
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
