<div class="container">
  <div class="container-body" id="list">
    <div class="container-content" id="body">
      <div class="container-content-header">
        <h2>Pastas</h2>
        <div class="container-content-header-button-group" id="groupButton">
          <button
            class="action-button add"
            id="addButton"
            (click)="addRegister()"
          >
            Adicionar
          </button>
          <button
            [disabled]="actionButton"
            class="action-button"
            id="deleteButton"
            (click)="deleteRegister()"
          >
            Excluir
          </button>
          <button
            [disabled]="actionButton"
            class="action-button"
            id="seeButton"
            (click)="viewProfile()"
          >
            Ver
          </button>
        </div>
      </div>
      <section class="example-container mat-elevation-z8" tabindex="0">
        <p-table
          #tableReference
          matSort
          class="mat-elevation-z8 demo-table"
          selectionMode="single"
          [value]="dataSourceGroup"
          (matSortChange)="announceSortChange($event)"
          [rows]="10"
          [paginator]="true"
          [resizableColumns]="true"
          scrollHeight="350px"
          styleClass="p-datatable-gridlines"
          currentPageReportTemplate="Exibindo de {first} a {last} de {totalRecords} registros"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10, 25, 50]"
          [globalFilterFields]="['id', 'name', 'path']"
        >
          <ng-template pTemplate="caption">
            <div class="filter">
              <fa-icon
                class="icon"
                [icon]="icons.search"
                [size]="'xl'"
              ></fa-icon>
              <span class="p-input-icon-left">
                <input
                  pInputText
                  type="text"
                  (input)="onInputChange($event, tableReference)"
                  placeholder="Pesquisar"
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pResizableColumn style="width: 2rem" pSortableColumn="id">
                <div class="flex align-items-center">Código</div>
              </th>
              <th
                pResizableColumn
                style="min-width: 15rem"
                pSortableColumn="name"
              >
                <div class="flex align-items-center">Nome</div>
              </th>
              <th
                pResizableColumn
                style="min-width: 15rem"
                pSortableColumn="path"
              >
                <div class="flex align-items-center">Dashboards</div>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-dataSourceGroup>
            <tr
              #tr
              pSelectableRow="dataSourceGroup"
              pContextMenuRow="dataSourceGroup"
              (click)="selectRow(dataSourceGroup)"
              [pSelectableRow]="dataSourceGroup"
            >
              <td [title]="dataSource.id">
                {{ dataSourceGroup.id }}
              </td>
              <td [title]="dataSource.name">
                {{ dataSourceGroup.name }}
              </td>
              <td [title]="dataSource.path">
                {{ dataSourceGroup.path }}
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">Sem registros encontrados</td>
            </tr>
          </ng-template>
        </p-table>
      </section>
    </div>
  </div>

  <div class="container-add" id="add">
    <div class="container-content-add">
      <h2>Adicionar</h2>
    </div>
    <div class="container-add-body">
      <form class="form-search" [formGroup]="createFolderForm">
        <div>
          <div class="form-group-input">
            <label for="username">Nome da pasta</label>
            <input
              type="text"
              class="form-control"
              name="username"
              autocomplete="off"
              formControlName="name"
              required
              maxlength="60"
            />
          </div>
        </div>
        <div class="paths">
          <mat-tab-group
            class="container-tab-group"
            mat-stretch-tabs="false"
            mat-align-tabs="start"
          >
            <mat-tab label="Vincular Perfil">
              <div
                style="overflow-y: auto; overflow-x: hidden; margin-top: 8px"
              >
                <p-table
                  #tableCreate
                  matSort
                  class="mat-elevation-z8 demo-table"
                  selectionMode="single"
                  [value]="listProfiles"
                  (matSortChange)="announceSortChange($event)"
                  [rows]="10"
                  [paginator]="true"
                  [resizableColumns]="true"
                  scrollHeight="220px"
                  styleClass="p-datatable-gridlines"
                  [globalFilterFields]="['id', 'name']"
                >
                  <ng-template pTemplate="caption">
                    <div class="filter">
                      <fa-icon
                        class="icon"
                        [icon]="icons.search"
                        [size]="'xl'"
                      ></fa-icon>
                      <span class="p-input-icon-left">
                        <input
                          pInputText
                          type="text"
                          (input)="onInputChange($event, tableCreate)"
                          placeholder="Pesquisar"
                        />
                      </span>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 1rem">
                        <div class="flex align-items-center"></div>
                      </th>
                      <th
                        pResizableColumn
                        style="min-width: 5rem"
                        pSortableColumn="id"
                      >
                        <div class="flex align-items-center">Código</div>
                      </th>
                      <th
                        pResizableColumn
                        style="min-width: 12rem"
                        pSortableColumn="name"
                      >
                        <div class="flex align-items-center">Perfil</div>
                      </th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-listProfiles>
                    <tr
                      #tr
                      pSelectableRow="listProfiles"
                      pContextMenuRow="listProfiles"
                      [pSelectableRow]="listProfiles"
                    >
                      <td>
                        <input
                          class="checkbox"
                          type="checkbox"
                          (change)="printDetails($event, listProfiles.id)"
                        />
                      </td>
                      <td>{{ listProfiles.id }}</td>
                      <td>{{ listProfiles.name }}</td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="7">Sem registros encontrados</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </mat-tab>
            <mat-tab label="Vincular Dashboard">
              <div
                style="overflow-y: auto; overflow-x: hidden; margin-top: 8px"
              >
                <p-table
                  #tableEdit
                  matSort
                  class="mat-elevation-z8 demo-table"
                  selectionMode="single"
                  [value]="listDashboards"
                  (matSortChange)="announceSortChange($event)"
                  [rows]="10"
                  [paginator]="true"
                  [resizableColumns]="true"
                  scrollHeight="220px"
                  styleClass="p-datatable-gridlines"
                  [globalFilterFields]="['id', 'name']"
                >
                  <ng-template pTemplate="caption">
                    <div class="filter">
                      <fa-icon
                        class="icon"
                        [icon]="icons.search"
                        [size]="'xl'"
                      ></fa-icon>
                      <span class="p-input-icon-left">
                        <input
                          pInputText
                          type="text"
                          (input)="onInputChange($event, tableEdit)"
                          placeholder="Pesquisar"
                        />
                      </span>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 1rem">
                        <div class="flex align-items-center"></div>
                      </th>
                      <th
                        pResizableColumn
                        style="min-width: 5rem"
                        pSortableColumn="id"
                      >
                        <div class="flex align-items-center">Código</div>
                      </th>
                      <th
                        pResizableColumn
                        style="min-width: 12rem"
                        pSortableColumn="name"
                      >
                        <div class="flex align-items-center">Perfil</div>
                      </th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-listDashboards>
                    <tr
                      #tr
                      pSelectableRow="listDashboards"
                      pContextMenuRow="listDashboards"
                      [pSelectableRow]="listDashboards"
                    >
                      <td>
                        <input
                          class="checkbox"
                          type="checkbox"
                          (change)="
                            printDetailsDashboards($event, listDashboards.id)
                          "
                        />
                      </td>
                      <td>{{ listDashboards.id }}</td>
                      <td>{{ listDashboards.name }}</td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="7">Sem registros encontrados</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </form>
    </div>
    <div class="container-add-footer">
      <button id="cancel" (click)="cancelRegister()">Cancelar</button>
      <button (click)="createPath()">Salvar</button>
    </div>
  </div>

  <div class="message">
    <p-toast [life]="2500"></p-toast>
  </div>

  <div class="modal-view-profile" *ngIf="isViewProfile">
    <div class="container-edit-content">
      <h2>Editar</h2>
    </div>
    <div class="container-edit-body">
      <form class="form-search" [formGroup]="editPathForm">
        <div>
          <div class="form-group-input">
            <label for="username">Nome da pasta</label>
            <input
              type="text"
              class="form-control"
              name="username"
              autocomplete="off"
              formControlName="name"
              required
              maxlength="60"
              [(ngModel)]="selectedRow!.name"
            />
          </div>
        </div>
        <div class="paths">
          <mat-tab-group
            class="container-tab-group"
            mat-stretch-tabs="false"
            mat-align-tabs="start"
          >
            <mat-tab label="Vincular Perfil"
              ><div style="margin-top: 8px">
                <p-table
                  #tableEdit
                  matSort
                  class="mat-elevation-z8 demo-table"
                  selectionMode="single"
                  [value]="listProfiles"
                  (matSortChange)="announceSortChange($event)"
                  [rows]="10"
                  [paginator]="true"
                  [resizableColumns]="true"
                  scrollHeight="220px"
                  styleClass="p-datatable-gridlines"
                  [globalFilterFields]="['id', 'name']"
                >
                  <ng-template pTemplate="caption">
                    <div class="filter">
                      <fa-icon
                        class="icon"
                        [icon]="icons.search"
                        [size]="'xl'"
                      ></fa-icon>
                      <span class="p-input-icon-left">
                        <input
                          pInputText
                          type="text"
                          (input)="onInputChange($event, tableEdit)"
                          placeholder="Pesquisar"
                        />
                      </span>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 1rem">
                        <div class="flex align-items-center"></div>
                      </th>
                      <th
                        pResizableColumn
                        style="min-width: 5rem"
                        pSortableColumn="id"
                      >
                        <div class="flex align-items-center">Código</div>
                      </th>
                      <th
                        pResizableColumn
                        style="min-width: 12rem"
                        pSortableColumn="name"
                      >
                        <div class="flex align-items-center">Perfil</div>
                      </th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-listProfiles>
                    <tr
                      #tr
                      pSelectableRow="listPaths"
                      pContextMenuRow="listPaths"
                      [pSelectableRow]="listProfiles"
                    >
                      <td>
                        <input
                          class="checkbox"
                          type="checkbox"
                          (change)="printDetails($event, listProfiles.id)"
                          [checked]="isSelected(listProfiles)"
                        />
                      </td>
                      <td>{{ listProfiles.id }}</td>
                      <td>{{ listProfiles.name }}</td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="7">Sem registros encontrados</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div></mat-tab
            >
            <mat-tab label="Vincular Dashboard"
              ><div style="margin-top: 8px">
                <p-table
                  #tableEdit
                  matSort
                  class="mat-elevation-z8 demo-table"
                  selectionMode="single"
                  [value]="listDashboards"
                  (matSortChange)="announceSortChange($event)"
                  [rows]="10"
                  [paginator]="true"
                  [resizableColumns]="true"
                  scrollHeight="220px"
                  styleClass="p-datatable-gridlines"
                  [globalFilterFields]="['id', 'name']"
                >
                  <ng-template pTemplate="caption">
                    <div class="filter">
                      <fa-icon
                        class="icon"
                        [icon]="icons.search"
                        [size]="'xl'"
                      ></fa-icon>
                      <span class="p-input-icon-left">
                        <input
                          pInputText
                          type="text"
                          (input)="onInputChange($event, tableEdit)"
                          placeholder="Pesquisar"
                        />
                      </span>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 1rem">
                        <div class="flex align-items-center"></div>
                      </th>
                      <th
                        pResizableColumn
                        style="min-width: 5rem"
                        pSortableColumn="id"
                      >
                        <div class="flex align-items-center">Código</div>
                      </th>
                      <th
                        pResizableColumn
                        style="min-width: 12rem"
                        pSortableColumn="name"
                      >
                        <div class="flex align-items-center">Perfil</div>
                      </th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-listDashboards>
                    <tr
                      #tr
                      pSelectableRow="listDashboards"
                      pContextMenuRow="listDashboards"
                      [pSelectableRow]="listDashboards"
                    >
                      <td>
                        <input
                          class="checkbox"
                          type="checkbox"
                          (change)="
                            printDetailsDashboards($event, listDashboards.id)
                          "
                          [checked]="isSelectedDash(listDashboards)"
                        />
                      </td>
                      <td>{{ listDashboards.id }}</td>
                      <td>{{ listDashboards.name }}</td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="7">Sem registros encontrados</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div></mat-tab
            >
          </mat-tab-group>
        </div>
      </form>
    </div>
    <div class="container-add-footer">
      <button id="cancel" (click)="notViewProfile()">Voltar</button>
      <button (click)="updatePath()">Salvar</button>
    </div>
  </div>

  <div
    class="modal"
    *ngIf="deleteProfile"
    id="modal"
    [style.display]="deleteProfile ? 'flex' : 'none'"
  >
    <div class="modal-content">
      <span class="close" (click)="cancelDelete()">&times;</span>
      <div>
        <h2>Tem certeza de que deseja excluir este registro?</h2>
        <p>Esta ação não pode ser desfeita</p>
        <div class="modal-buttons">
          <button class="cancel" (click)="cancelDelete()">cancelar</button>
          <button class="exclude" (click)="confirmDelete()">
            <span>Excluir</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
