<div *ngIf="isLoading" id="loading-screen">
  <div class="spinner"></div>
</div>
<div class="container">
  <div class="col-md-12">
    <div class="card card-container" *ngIf="isModal">
      <div class="card-logo">
        <img
          class="card-logo-icon"
          src="assets/icons/Logo_principal_horizontal.svg"
          alt=""
        />
        <span class="version">V1.1.1</span>
      </div>
      <form name="form" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="username">Usuário</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
          />
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
          />
        </div>

        <button
          class="cookies-button"
          (click)="showDialog()"
          label="Aviso de cookies"
        >
          Aviso de cookies
        </button>
        <p-dialog
          header="Valorizamos sua privacidade"
          [modal]="true"
          [(visible)]="visible"
          [style]="{ width: '50rem' }"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
          [maximizable]="true"
          [draggable]="false"
        >
          <p class="mb-5">
            Utilizamos cookies para melhorar sua experiência em nosso sistema.
            Ao continuar navegando, você concorda com nossa Política de Cookies.
          </p>
          <h3 class="mb-5">O que são cookies?</h3>
          <p class="mb-5">
            Cookies são pequenos arquivos de texto armazenados no seu
            dispositivo quando você visita uma plataforma web. Eles ajudam a
            melhorar o funcionamento e a fornecer uma experiência personalizada.
          </p>
          <h3 class="mb-5">Para que utilizamos os cookies?</h3>
          <ul class="mb-5">
            <li>
              Cookies Estritamente Necessários: Esses cookies são essenciais
              para que o site funcione corretamente.
            </li>
            <li>
              Cookies de Desempenho: Coletam informações sobre como os
              visitantes utilizam o site, permitindo-nos melhorar seu
              desempenho.
            </li>
            <li>
              Cookies de Funcionalidade: Permitem que o site lembre suas
              escolhas (como seu nome de usuário, idioma ou região) para
              proporcionar uma experiência mais personalizada.
            </li>
          </ul>
          <h3 class="mb-5">Gerenciamento de Cookies</h3>
          <p class="mb-5">
            Você pode gerenciar seus cookies através das configurações do seu
            navegador. No entanto, a desativação de alguns cookies pode afetar a
            funcionalidade do sistema. Reservamo-nos o direito de corrigir o
            conteúdo do Aviso de Cookies e os cookies contidos nas listas a
            qualquer momento e sem notificação. O novo Aviso de Cookies entrará
            em vigor após a publicação. Se você não concordar com a versão
            revisada, deverá alterar suas preferências. Ao continuar a acessar
            ou fazer uso do sistema após as mudanças entrarem em vigor, você
            concorda com os termos do Aviso de Cookies revisado.
          </p>
        </p-dialog>

        <div class="form-button">
          <button
            (click)="onSubmit()"
            pButton
            pRipple
            type="button"
            class="btn btn-primary btn-block"
          >
            <span *ngIf="!isLoginLoading">Entrar</span>
            <span *ngIf="isLoginLoading"
              ><div class="login-spinner"></div
            ></span>
          </button>
        </div>
      </form>
    </div>

    <img
      class="one"
      srcset="../../../../assets/images/one.svg"
      alt="shape one"
    />
    <img
      class="two"
      srcset="../../../../assets/images/two.svg"
      alt="shape two"
    />
    <img
      class="three"
      srcset="../../../../assets/images/three.svg"
      alt="shape three"
    />
    <img
      class="four"
      srcset="../../../../assets/images/four.svg"
      alt="shape four"
    />
    <img
      class="five"
      srcset="../../../../assets/images/five.svg"
      alt="shape five"
    />

    <div class="message">
      <p-toast [life]="2500"></p-toast>
    </div>
  </div>
  <footer>
    <span>Todos os direitos reservados &copy;2024</span>
  </footer>

  <div class="modal-choice-view" *ngIf="!isModal">
    <div class="content-modal">
      <span>Selecione a aplicação</span>
      <div class="buttons">
        <button (click)="defaultOrAdm(false)">Usuário</button>
        <button (click)="defaultOrAdm(true)">Administrador</button>
      </div>
    </div>
  </div>
</div>
