<p-skeleton width="90vw" height="86vh" *ngIf="loadingScreen"> </p-skeleton>

<div class="container" *ngIf="!loadingScreen">
  <div class="top">
    <highcharts-chart
      style="width: 40rem; height: 20rem"
      [Highcharts]="Highcharts"
      [options]="chartLine"
    >
    </highcharts-chart>

    <highcharts-chart
      style="width: 18rem; height: 20rem"
      [Highcharts]="Highcharts"
      [options]="chartPie_One"
    >
    </highcharts-chart>
    <highcharts-chart
      style="width: 18rem; height: 20rem"
      [Highcharts]="Highcharts"
      [options]="chartPie_Two"
    >
    </highcharts-chart>
  </div>

  <div class="bottom">
    <highcharts-chart
      style="width: 40rem; height: 15rem"
      [Highcharts]="Highcharts"
      [options]="chartBarRace"
    >
    </highcharts-chart>
    <highcharts-chart
      style="width: 40rem; height: 15rem"
      [Highcharts]="Highcharts"
      [options]="chartBar_One"
    >
    </highcharts-chart>
  </div>
</div>
