* {
  font-size: 0.75rem;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  border-radius: 5px;
}

.container-body {
  height: 85vh;
  display: flex;
}

.container-content {
  width: 100%;
  height: 90%;
}

.container-content h2,
.container-content-add h2,
.container-edit-content h2 {
  font-size: 15px;
  font-weight: 400;
}

.container-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 4rem;
}

.container-content-header-button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 11rem;
}

.action-button {
  color: #4f80e1;
  padding: 0 10px;
}

.add {
  align-items: center;
  background-color: #5f65a5;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  height: 2rem;
  justify-content: center;
  line-height: 1;
  padding: 0 0.5rem;
  font-size: 12px;
}

#deleteButton,
#seeButton {
  color: #aeaeae;
}

.mat-mdc-menu-item,
.mat-mdc-menu-item:visited,
.mat-mdc-menu-item:link {
  color: var(--mat-menu-item-label-text-color);
  width: 280px;
}

.mat-elevation-z8 {
  box-shadow: none;
  outline: none;
}

.example-container {
  max-height: 88%;
  overflow: auto;
  outline: none;
}

.filter {
  justify-content: start;
  background-color: #fff;
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 30px;
  width: 250px;
  height: 30px;
}

.filter .icon {
  font-size: 10px;
  padding: 8px 2px 8px 15px;
}

.filter button {
  padding: 0.6rem;
  border: none;
  margin-right: 1rem;
  border-radius: 0.2rem;
}

.filter input {
  padding: 0.6rem;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  width: 205px;
}

th {
  font-size: 12px;
  font-weight: 450;
  padding: 5px 7px;
}

td {
  text-align: left;
  border: 1px solid #e5e7eb;
  border-width: 0 0 1px 0;
  padding: 0.5rem 0.5rem;
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-top: 1px solid transparent;
  cursor: pointer;
  height: 5px !important;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #f7f7f7;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.container-add {
  display: none;
  align-items: start;
  margin: 1.5rem 1rem;
}

.container-content-add {
  padding: 5px 0px 5px 10px;
  width: 100%;
}

.container-add-body {
  width: 100%;
  height: 83%;
}

.checkbox {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.container-add-footer {
  width: 88%;
  height: 20px;
  display: flex;
  align-self: flex-end;
  align-items: end;
  position: fixed;
  bottom: 20px;
  justify-content: end;
}

.container-add-footer button:nth-child(1) {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.6rem;
  border: 0.25rem solid transparent;
  background-color: transparent;
  color: #000000;
  font-size: 12px;
  font-style: normal;
  margin-right: 1rem;
  cursor: pointer;
}

.container-add-footer button:nth-child(2) {
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.6rem;
  border: none;
  background-color: #751a7e;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.2rem;
  margin-top: 3rem;
  cursor: pointer;
  width: 75px;
}

.container-tab {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-width: 300px;
  height: 100%;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.05);
}

.container-close-tab {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
  padding-bottom: 2px;
}

.container-button-close {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  height: 21px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container-close-tab .mat-icon {
  color: #a8a8a8;
  font-size: 18px;
  width: 20px !important;
}

.form-search {
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
}

.form-group-input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 6px 10px;
}

.form-group-input label {
  color: #2a2d2e;
  font-size: 12px;
  font-style: normal;
  line-height: 1.55rem;
  margin-bottom: 0.2rem;
}

.form-control,
.form-control-doc {
  display: flex;
  align-items: center;
  border: 1px solid gainsboro;
  border-radius: 3px;
  font-size: 12px;
  width: 20rem;
  border-radius: 0.25rem;
  outline: none;
  padding: 5px 10px;
}

.readonly-bg {
  background-color: transparent;
}

textarea {
  resize: none;
}

.paths-load {
  background-color: #fff;
  width: 100%;
  height: 260.5px;
}

.paths {
  width: 100%;
}

.paths-load-table-span {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.paths table {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
}

.button-tab {
  background-color: #f5f5f5;
  border-radius: 5px;
  width: 100%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 30px;
}

.form-group-input-radio {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.form-group-input-radio-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.form-group-input-radio-group input {
  margin-left: 10px;
  margin-top: 0;
  width: 18px;
  height: 18px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 480px;
  height: fit-content;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0px 1px 9px 3px rgba(66, 68, 90, 0.13);
  -moz-box-shadow: 0px 1px 9px 3px rgba(66, 68, 90, 0.13);
  box-shadow: 0px 1px 9px 3px rgba(66, 68, 90, 0.13);
}

.modal-content h2 {
  font-size: 15px;
  font-weight: 500;
}

.modal-content p {
  font-size: 13px;
}

.modal-buttons {
  margin-top: 35px;
  display: flex;
  justify-content: flex-end;
}

.cancel,
.exclude {
  border: none;
  padding: 8px 20px;
  background-color: rgb(255, 70, 70);
  margin: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel {
  background-color: #ffffff;
  color: #4f4f4f;
}

.exclude {
  color: #ffffff;
  width: 79px;
  height: 36px;
  display: flex;
  justify-content: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: -23px;
  left: 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-view-profile {
  position: fixed;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  padding: 2rem;
  padding-top: 0;
  width: 100%;
  height: 76%;
  z-index: 99;
}

.container-edit-content {
  width: 88%;
  margin-top: -14px;
}

.container-edit-body {
  width: 90%;
  height: 83%;
}

.container-sql {
  width: 100%;
  height: calc(78vh - 5px);
  overflow: hidden;
}

.content-sql {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100%);
}

.content-sql_header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  height: 4rem;
}

.content-sql_header h2 {
  font-size: 14px;
  font-weight: 400;
}

.content-sql_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  height: 100%;
}

.content-sql-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.content-sql_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.content-sql_buttons button {
  color: #4f80e1;
}

.content-sql_buttons-action {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f3f4f6;
  width: 8rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #e5e5e5;
}

.iconTable {
  font-size: 11px;
}

.content-sql_buttons-action button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0 !important;
  border: 0 !important;
  border-radius: 50%;
  background-color: transparent;
  color: #4f80e1;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.login-spinner {
  transform: translate(-50%, -50%);
  border: 3px solid #4f80e1;
  border-radius: 50%;
  border-top: 3px solid transparent;
  width: 19px;
  height: 19px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.content-sql_buttons-action button span {
  font-size: 20px;
}

.sql-body_code {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.sql-body_code textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: 1px solid #e5e5e5;
  padding: 0.5rem;
  border-radius: 0.3rem;
  outline: none;
}

.sql-result {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
}

.sql-body_result {
  width: 100%;
  display: flex;
  align-items: end;
  z-index: 1;
}

.body-sql-result p {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.body-sql-result_columns {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 1rem;
}

.body-sql-result_columns span {
  margin-right: 0.8rem;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
