<div class="container" *ngIf="!isSQL">
  <div class="container-body" id="list">
    <div class="container-content" id="body">
      <div class="container-content-header">
        <h2>Dashboards</h2>
        <div class="container-content-header-button-group" id="groupButton">
          <button
            [disabled]="actionButton"
            class="action-button add"
            id="addButton"
            (click)="addRegister()"
          >
            Adicionar
          </button>
          <button
            [disabled]="actionButton"
            class="action-button"
            id="deleteButton"
            (click)="deleteRegister()"
          >
            Excluir
          </button>
          <button
            [disabled]="actionButton"
            class="action-button"
            id="seeButton"
            (click)="viewDashInfo()"
          >
            Ver
          </button>
        </div>
      </div>

      <section class="example-container mat-elevation-z8" tabindex="0">
        <p-table
          #tableReference
          class="mat-elevation-z8 demo-table"
          selectionMode="single"
          [value]="dataSource"
          [rows]="10"
          [paginator]="true"
          [resizableColumns]="true"
          scrollHeight="350px"
          styleClass="p-datatable-gridlines"
          currentPageReportTemplate="Exibindo de {first} a {last} de {totalRecords} registros"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10, 25, 50]"
          [scrollable]="true"
          [globalFilterFields]="[
            'id',
            'name',
            'pgTableName',
            'chartPath',
            'sql'
          ]"
        >
          <ng-template pTemplate="caption">
            <div class="filter">
              <fa-icon
                class="icon"
                [icon]="icons.search"
                [size]="'xl'"
              ></fa-icon>
              <span class="p-input-icon-left">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="searchValue"
                  (input)="onInputChange($event, tableReference)"
                  placeholder="Pesquisar"
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pResizableColumn style="width: 1rem" pSortableColumn="id">
                <div class="flex align-items-center">Código</div>
              </th>

              <th
                pResizableColumn
                style="min-width: 15rem"
                pSortableColumn="name"
              >
                <div class="flex align-items-center">Nome</div>
              </th>

              <th
                pResizableColumn
                style="min-width: 15rem"
                pSortableColumn="pgTableName"
              >
                <div class="flex align-items-center">Tabela</div>
              </th>

              <th
                pResizableColumn
                style="min-width: 6rem"
                pSortableColumn="chartPath"
              >
                <div class="flex align-items-center">Pastas</div>
              </th>

              <th
                pResizableColumn
                style="min-width: 5rem"
                pSortableColumn="sql"
              >
                <div class="flex align-items-center">Código SQL</div>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-dataSource>
            <tr
              #tr
              [pSelectableRow]="dataSource"
              (click)="selectRow(dataSource)"
              (dblclick)="onRowDoubleClick(dataSource)"
            >
              <td [title]="dataSource.id">
                {{ dataSource.id }}
              </td>
              <td [title]="dataSource.name">
                {{ dataSource.name }}
              </td>
              <td [title]="dataSource.pgTableName">
                {{ dataSource.pgTableName }}
              </td>
              <td [title]="dataSource.chartPath ? 'Sim' : 'Não'">
                {{ dataSource.chartPath ? "Sim" : "Não" }}
              </td>
              <td
                [title]="
                  dataSource?.sql?.length > 0 ? dataSource.sql : 'Sem código'
                "
              >
                {{
                  dataSource?.sql?.length > 0 ? dataSource.sql : "Sem código"
                }}
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">Sem registros encontrados</td>
            </tr>
          </ng-template>
        </p-table>
      </section>
    </div>
  </div>

  <div class="container-add" id="add">
    <div class="container-content-add">
      <h2>Adicionar</h2>
    </div>
    <div class="container-add-body">
      <form class="form-search" [formGroup]="createRegisterForm">
        <div class="form-group-input-side">
          <div class="form-group-input">
            <label for="name">Nome do dashboard</label>
            <input
              type="text"
              class="form-control"
              name="name"
              autocomplete="off"
              formControlName="name"
              required
              maxlength="60"
            />
          </div>

          <div class="form-group-input">
            <label for="pgTableName">Nome da tabela</label>
            <input
              type="text"
              class="form-control"
              name="pgTableName"
              autocomplete="off"
              formControlName="pgTableName"
              required
              maxlength="250"
            />
          </div>
        </div>
        <div class="paths">
          <span>Vincular pasta</span>
          <div style="overflow-y: auto; overflow-x: hidden; margin-top: 8px">
            <p-table
              #tableCreate
              matSort
              class="mat-elevation-z8 demo-table"
              selectionMode="single"
              [value]="chartPaths"
              (matSortChange)="announceSortChange($event)"
              [rows]="10"
              [paginator]="true"
              [resizableColumns]="true"
              [scrollable]="true"
              scrollHeight="220px"
              styleClass="p-datatable-gridlines"
              [globalFilterFields]="['id', 'name']"
            >
              <ng-template pTemplate="caption">
                <div class="filter">
                  <fa-icon
                    class="icon"
                    [icon]="icons.search"
                    [size]="'xl'"
                  ></fa-icon>
                  <span class="p-input-icon-left">
                    <input
                      pInputText
                      type="text"
                      (input)="onInputChange($event, tableCreate)"
                      placeholder="Pesquisar"
                    />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 1rem">
                    <div class="flex align-items-center"></div>
                  </th>
                  <th
                    pResizableColumn
                    style="min-width: 5rem"
                    pSortableColumn="id"
                  >
                    <div class="flex align-items-center">Código</div>
                  </th>
                  <th
                    pResizableColumn
                    style="min-width: 12rem"
                    pSortableColumn="name"
                  >
                    <div class="flex align-items-center">Pasta</div>
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-chartPaths>
                <tr
                  #tr
                  pSelectableRow="chartPaths"
                  pContextMenuRow="chartPaths"
                  [pSelectableRow]="chartPaths"
                >
                  <td>
                    <input
                      class="checkbox"
                      type="checkbox"
                      (change)="printDetails($event, chartPaths.id)"
                    />
                  </td>
                  <td>{{ chartPaths.id }}</td>
                  <td>{{ chartPaths.name }}</td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="7">Sem registros encontrados</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </form>
    </div>

    <div class="container-add-footer">
      <button id="cancel" (click)="cancelRegister()">Cancelar</button>
      <button (click)="createRegister()">Concluir</button>
    </div>
  </div>

  <div class="message">
    <p-toast [life]="3500"></p-toast>
  </div>

  <div class="modal-view-profile" *ngIf="isViewDashboard">
    <div class="container-edit-content">
      <h2>Editar</h2>
    </div>
    <div class="container-edit-body">
      <form class="form-search" [formGroup]="editDashForm">
        <div>
          <div class="form-group-input">
            <label for="name">Nome do dashboard</label>
            <input
              type="text"
              class="form-control"
              name="name"
              autocomplete="off"
              formControlName="name"
              required
              maxlength="60"
              [(ngModel)]="selectedRow!.name"
            />
          </div>

          <div class="form-group-input">
            <label for="pgTableName">Nome da tabela</label>
            <input
              type="text"
              class="form-control"
              name="pgTableName"
              autocomplete="off"
              formControlName="pgTableName"
              required
              maxlength="80"
              [(ngModel)]="selectedRow!.pgTableName"
              [readOnly]="isReadOnly"
              [ngClass]="{ 'readonly-bg': isReadOnly }"
            />
          </div>
        </div>
        <div class="paths">
          <span>Vincular pasta</span>
          <div
            style="
              max-height: 90%;
              overflow-y: auto;
              overflow-x: hidden;
              margin-top: 8px;
            "
          >
            <p-table
              #tableEdit
              matSort
              class="mat-elevation-z8 demo-table"
              selectionMode="single"
              [value]="chartPaths"
              (matSortChange)="announceSortChange($event)"
              [rows]="10"
              [paginator]="true"
              [resizableColumns]="true"
              [scrollable]="true"
              scrollHeight="250px"
              styleClass="p-datatable-gridlines"
              [globalFilterFields]="['id', 'name']"
            >
              <ng-template pTemplate="caption">
                <div class="filter">
                  <fa-icon
                    class="icon"
                    [icon]="icons.search"
                    [size]="'xl'"
                  ></fa-icon>
                  <span class="p-input-icon-left">
                    <input
                      pInputText
                      type="text"
                      (input)="onInputChange($event, tableEdit)"
                      placeholder="Pesquisar"
                    />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 1rem">
                    <div class="flex align-items-center"></div>
                  </th>
                  <th
                    pResizableColumn
                    style="min-width: 5rem"
                    pSortableColumn="id"
                  >
                    <div class="flex align-items-center">Código</div>
                  </th>
                  <th
                    pResizableColumn
                    style="min-width: 12rem"
                    pSortableColumn="name"
                  >
                    <div class="flex align-items-center">Pasta</div>
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-chartPaths>
                <tr
                  #tr
                  pSelectableRow="chartPaths"
                  pContextMenuRow="chartPaths"
                  [pSelectableRow]="chartPaths"
                >
                  <td>
                    <input
                      type="checkbox"
                      class="checkbox"
                      (change)="printDetails($event, chartPaths.id)"
                      [checked]="isSelected(chartPaths)"
                    />
                  </td>
                  <td>{{ chartPaths.id }}</td>
                  <td>{{ chartPaths.name }}</td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="7">Sem registros encontrados</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </form>
    </div>
    <div class="container-add-footer">
      <button id="cancel" (click)="notViewDashInfo()">Voltar</button>
      <button (click)="updateRegister()">Salvar</button>
    </div>
  </div>

  <div
    class="modal"
    *ngIf="deleteProfile"
    id="modal"
    [style.display]="deleteProfile ? 'flex' : 'none'"
  >
    <div class="modal-content">
      <span class="close" (click)="cancelDelete()">&times;</span>
      <div>
        <h2>Tem certeza de que deseja excluir este registro?</h2>
        <p>Esta ação não pode ser desfeita</p>
        <div class="modal-buttons">
          <button class="cancel" (click)="cancelDelete()">cancelar</button>
          <button class="exclude" (click)="confirmDelete()">
            <span>Excluir</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <p-toast [life]="2500"></p-toast>
</div>

<div class="container-sql" *ngIf="isSQL">
  <div class="content-sql">
    <div class="content-sql_header">
      <h2>Query builder</h2>
      <div class="content-sql_buttons">
        <div class="content-sql_buttons-action">
          <button (click)="updateRegisterSql()" title="Executar">
            <span *ngIf="!isLoadingRun" class="material-symbols-outlined">
              play_circle
            </span>
            <span *ngIf="isLoadingRun"><div class="login-spinner"></div></span>
          </button>
          <button (click)="showTable()" title="Exibir tabela">
            <span *ngIf="!isLoadingTable" class="material-symbols-outlined">
              table
            </span>
            <span *ngIf="isLoadingTable"
              ><div class="login-spinner"></div
            ></span>
          </button>
          <button (click)="clearSQL()" title="Limpar">
            <span class="material-symbols-outlined"> delete </span>
          </button>
        </div>
        <button (click)="goBack()">Voltar</button>
      </div>
    </div>

    <div class="content-sql_body">
      <div class="sql-body_code" [formGroup]="createRegisterForm">
        <textarea
          name="sql_code"
          formControlName="sql"
          minlength="10"
          [(ngModel)]="sqlPlaceholder"
          spellcheck
          required
        >
        </textarea>
      </div>
      <div class="content-sql-info" *ngIf="isInformations">
        <span>Total de linhas: {{ tableData.length }}</span>
        <span>Status: {{ scriptStatus }}</span>
        <span>Última execução em: {{ scriptDataExecute }}</span>
      </div>
      <div class="sql-body_result" *ngIf="isInformations">
        <div class="paths">
          <div
            style="
              max-height: 90%;
              overflow-y: auto;
              overflow-x: auto;
              margin-top: 8px;
            "
          >
            <p-table
              matSort
              class="mat-elevation-z8 demo-table"
              selectionMode="single"
              [value]="tableData"
              (matSortChange)="announceSortChange($event)"
              [rows]="10"
              [paginator]="true"
              [resizableColumns]="true"
              [scrollable]="true"
              scrollHeight="200px"
              styleClass="p-datatable-gridlines"
              currentPageReportTemplate="Exibindo de {first} a {last} de {totalRecords} registros"
              [showCurrentPageReport]="true"
              [rowsPerPageOptions]="[10, 25, 50]"
              [globalFilterFields]="tableColumns"
              [tableStyle]="{ 'min-width': '75rem' }"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th
                    *ngFor="let column of tableColumns"
                    pResizableColumn
                    [pSortableColumn]="column.name"
                    style="min-width: 12rem"
                  >
                    <div class="flex align-items-center">{{ column.name }}</div>
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowData>
                <tr
                  #tr
                  pSelectableRow="rowData"
                  pContextMenuRow="rowData"
                  [pSelectableRow]="rowData"
                >
                  <td *ngFor="let column of tableColumns">
                    {{ rowData[column.name] }}
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="7">Sem registros encontrados</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-toast [life]="99999999"></p-toast>
</div>
