<div *ngIf="isLoading" id="loading-screen">
  <div class="spinner"></div>
</div>

<div class="container">
  <div class="col-md-12">
    <div class="card card-container" *ngIf="isModal">
      <div class="card-logo">
        <img
          class="card-logo-icon"
          src="assets/icons/Logo_principal_horizontal.svg"
          alt=""
        />
        <span class="version">V0.0.1</span>
      </div>
      <form name="form" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="username">Usuário</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
          />
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
          />
        </div>

        <div class="form-button">
          <button
            (click)="onSubmit()"
            pButton
            pRipple
            type="button"
            class="btn btn-primary btn-block"
          >
            <span *ngIf="!isLoginLoading">Entrar</span>
            <span *ngIf="isLoginLoading"
              ><div class="login-spinner"></div
            ></span>
          </button>
        </div>
      </form>
    </div>

    <img
      class="one"
      srcset="../../../../assets/images/one.svg"
      alt="shape one"
    />
    <img
      class="two"
      srcset="../../../../assets/images/two.svg"
      alt="shape two"
    />
    <img
      class="three"
      srcset="../../../../assets/images/three.svg"
      alt="shape three"
    />
    <img
      class="four"
      srcset="../../../../assets/images/four.svg"
      alt="shape four"
    />
    <img
      class="five"
      srcset="../../../../assets/images/five.svg"
      alt="shape five"
    />

    <div class="message">
      <p-toast [life]="1500"></p-toast>
    </div>
  </div>
  <footer>
    <span>Todos os direitos reservados &copy;2024</span>
  </footer>

  <div class="modal-choice-view" *ngIf="!isModal">
    <div class="content-modal">
      <span>Você deseja entrar em qual aplicação?</span>
      <div class="buttons">
        <button (click)="defaultOrAdm(false)">Padrão</button>
        <button (click)="defaultOrAdm(true)">Administrador</button>
      </div>
    </div>
  </div>
</div>
