.one {
  position: fixed;
  width: 45rem;
  top: -10rem;
  left: -10rem;
  z-index: -1;
}

.two {
  position: fixed;
  width: 45rem;
  top: -10rem;
  right: -10rem;
  z-index: -1;
}

.three {
  position: fixed;
  width: 35rem;
  bottom: -15rem;
  left: -10rem;
  z-index: -1;
}

.four {
  position: fixed;
  width: 30rem;
  bottom: -15rem;
  left: 35rem;
  z-index: -1;
}

.five {
  position: fixed;
  width: 35rem;
  bottom: -10rem;
  right: -10rem;
  z-index: -1;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 0.5s 3s forwards;
}

.spinner {
  transform: translate(-50%, -50%);
  border: 3px solid #f1e8f2;
  border-radius: 50%;
  border-top: 3px solid #01237e;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.card-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 81%;
  padding: 0px 0px 30px 0px;
  border-bottom: solid 0.5px #e8e8e8;
}

.card-logo-icon {
  width: 130px;
}

.version {
  color: #424242;
  font-size: 10px;
}

.img-logo {
  width: 70px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  height: 98vh;
  animation: fadeIn 0.5s ease-in 0.5s forwards;
}

.col-md-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 27rem;
  height: 30rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: 0px 0px 2px 0px #abbac0;
}

.form-group {
  margin-top: 1.5rem;
}

h1 {
  margin-top: -1rem;
  font-weight: bold;
  font-size: 2.5rem;
  color: #090238;
}

label {
  color: #2a2d2e;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}

input {
  display: flex;
  gap: 0.625rem;
  width: 22rem;
  padding: 0.625rem;
  align-items: center;
  border-radius: 0.25rem;
  border: 1px solid #d0d0d0;
  background-color: #ffffff;
  margin-top: 0.5rem;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1.415rem;
  border: 0.25rem solid #431a7e;
  border-radius: 5px;
  background-color: #431a7e;
  color: #d9dee0;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.75rem; /* 155.556% */
  margin-top: 3rem;
  cursor: pointer;
  height: 50px;
  transition: 0.2s;
}

.login-spinner {
  transform: translate(-50%, -50%);
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #431a7e;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

footer {
  width: 100%;
  height: 10px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 15px;
}

footer span {
  color: #424242;
  font-size: 12px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
